/* =====================================================================================================
Стили для "прилипающей" части корзины:
===================================================================================================== */

#header-cart {
  display: none;
  background-color: #F2F2F2;
}

#header-cart .container {
  padding-bottom: 2.85em;
}

#cart-name {
  padding: 2.8rem 0;
}

#header-cart .container > .row {
  justify-content: space-between;
  align-items: center;
}

#header-cart .search.row {
  width: 100%;
}

#checkout-info {
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  width: 14em;
  margin-right: 2.143em;
  font-size: 0.857em;
  visibility: hidden;
}

#header-cart .make-order {
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 5em;
}

/* =====================================================================================================
 Общие стили корзины:
===================================================================================================== */

#main-header {
  display: none;
}

#cart {
  display: none;
  width: 100%;
}

/* =====================================================================================================
 Пустая корзина:
===================================================================================================== */

#cart-empty {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 350px);
  text-align: center;
}

#cart-empty .title {
  margin-bottom: 1.25em;
}

/* =====================================================================================================
 Заполненная корзина:
===================================================================================================== */

#cart-full {
  display: none;
}

.cart-section {
  margin-bottom: 1.428em;
  background-color: #F8F8F8;
}

.cart-section .head,
.cart-row {
  justify-content: space-between;
  align-items: center;
  padding: 1.428em 0;
  margin: 0 1.428em;
  z-index: 1;
}

.cart-section .head .row,
.cart-row .row:not(.qty) {
  align-items: center;
}

.cart-section .head {
  position: sticky;
  top: 275px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #C6C6C6;
}

.cart-section .head > div {
  margin-right: 1.142em;
}

.cart-section .head .main-info {
  justify-content: space-between;
  width: 55%;
}

.cart-section .head .close.icon {
  display: none;
  width: 19px;
  height: 19px;
  margin-right: 0;
}

.cart-section .head .checkbox,
.cart-section .head .type {
  margin-right: 1.428em;
}

.cart-section .head .question {
  width: 24px;
  height: 24px;
  margin-right: 3em;
}

.cart-section .head .btn {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.cart-section .head .select-info {
  justify-content: flex-end;
  min-width: 30.5em;
}

.cart-row {
  align-items: stretch;
  padding-top: 1.428em;
  border-bottom: 1px solid #C6C6C6;
}

.cart-row:last-child {
  border-bottom: none;
}

.cart-row .adaptive {
  display: none;
}

.cart-row > .row:last-child {
  flex-shrink: 0;
  width: 53%;
  min-width: 46em;
}

.cart-row .checkbox {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1.428em;
}

.cart-row .name {
  width: calc(100% - 35px);
  margin-right: 1em;
  cursor: pointer;
}

.cart-row .img-wrap {
  flex-grow: 0;
  flex-shrink: 0;
  width: 65px;
  height: 65px;
  margin-right: 1.428em;
}

.cart-row .name .col {
  width: calc(100% - 85px);
}

.cart-row .articul {
  font-size: 0.857em;
  white-space: nowrap;
}

.cart-row .name .col div {
  width: 100%;
}

.cart-row .qty {
  justify-content: center;
  min-width: 7.5em;
  margin-right: 0.5em;
  text-align: center;
}

.cart-row .qty-fix {
  display: none;
}

.cart-row .tooltips {
  min-width: 8em;
  margin-right: 1em;
}

.cart-row .out {
  display: none;
}

.cart-row .price-wrap {
  width: 60%;
}

.cart-row .price,
.cart-row .discount {
  width: 50%;
  margin-right: 1em;
  text-align: right;
}

.cart-row .price {
  min-width: 6em;
  margin-left: 1em;
}

.cart-row .discount {
  min-width: 4em;
}

.cart-row .sum {
  justify-content: flex-end;
  width: 40%;
  min-width: 13em;
}

.cart-row .sum span {
  margin-left: 0.714em;
}

.cart-row .trash.icon {
  margin-right: 0;
  margin-left: 0.5em;
}

.cart-section.sold {
  background-color: #E2E2E2;
}

.cart-section.sold .head {
  background-color: #E2E2E2;
}

.sold .cart-row img {
  opacity: 0.5;
}

.sold .cart-row .out {
  display: block;
}

.cart-row.bonus .qty-fix {
  display: block;
}

.sold .cart-row .tooltips > .row {
  display: none;
}

.sold .cart-row .qty-box,
.sold .cart-row .price,
.sold .cart-row .discount,
.cart-row.bonus .qty,
.cart-row.bonus .checkbox {
 visibility: hidden;
}

/* =====================================================================================================
 Скопированная корзина:
===================================================================================================== */

#cart-copy textarea {
  width: 1px;
  height: 1px;
  padding: 0;
  opacity: 0;
}

#cart-table {
  display: none;
}

/* =====================================================================================================
Всплывающее окно оформления заказа:
===================================================================================================== */

#checkout .pop-up {
  width: 94em;
  padding-bottom: 0;
}

#checkout .warnblock {
  display: none;
  margin-bottom: 2.143em;
}

#order-form > .left-side {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 2.857em;
  margin-bottom: 2.5em;
}

#order-form > .right-side {
  width: 100%;
}

#order-form .form-wrap {
  margin-bottom: 0.714em;
}

#order-form .payment .form-col2:first-child {
  margin-bottom: 1.75em;
}

#order-form .payment-info .row {
  margin-bottom: 0.357em;
}

#order-form .activate {
  width: 17em;
}

#address {
  width: 100%;
}

#order-form .totals {
  margin-top: 2.143em;
  margin-bottom: 1.428em;
  padding: 1.428em;
  color: #FFFFFF;
  background-color: #53606F;
}

#order-form .totals .top {
  padding-bottom: 1.428em;
  border-bottom: 1px solid #C6C6C6;
}

#order-form .totals .bottom {
  padding-top: 1.428em;
  line-height: 1.8;
}

#order-form .totals .row {
  justify-content: space-between;
  align-items: center;
}

#order-form .totals > .left-side {
  margin-right: 1.428em;
}

#order-form .totals > .right-side {
  text-align: right;
}

#order-form .totals .top .left-side {
  padding-top: 3px;
}

#order-form .totals .text.orange {
  font-size: 1.714em;
  font-weight: 700;
}

#order-form .btns-wrap {
  justify-content: flex-start;
}

#order-details {
  height: 46.2em;
  padding-right: 0.5em;
  padding-bottom: 2.5em;
  overflow: hidden;
}

#order-details:hover {
  overflow-y: auto;
}

.order-block:not(:last-child) {
  padding-bottom: 1.428em;
}

.order-block .info {
  flex-grow: 0;
  flex-shrink: 0;
  width: 17em;
  margin-right: 2.143em;
}

.order-block .info > div:first-child {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #C6C6C6;
  line-height: 1.6;
}

.order-block .info > div:last-child {
  padding-top: 0.5em;
}

.order-block .info span {
  white-space: nowrap;
}

.order-block .form-wrap {
  width: 100%;
}

.order-block textarea {
  height: 7.143em;
}
