/* =====================================================================================================
Основные стили:
===================================================================================================== */

body {
  padding-top: 102px;
}

.checkbox.icon {
  background-image: url(../img/checkbox_transparent.svg);
}

/* =====================================================================================================
Стили для второго уровня меню:
===================================================================================================== */

#header-menu {
  position: relative;
  color: #FFFFFF;
  background-color: #53606F;
  visibility: hidden;
}

#header-menu .container {
  justify-content: flex-start;
  align-items: stretch;
  padding-right: 16em;
}

#header-menu a {
  color: #FFFFFF;
  white-space: nowrap;
}

#header-menu .topmenu a,
#header-menu .submenu a {
  padding: 0.75em 1.5em;
  cursor: pointer;
}

#header-menu .topmenu {
  align-items: stretch;
  background-color: #34495E;
}

#header-menu .topmenu-item {
  min-width: 18em;
  text-align: center;
  text-transform: uppercase;
}

#header-menu .submenu {
  position: relative;
  align-items: stretch;
  background-color: #53606F;
}

#header-menu .submenu a {
  margin-right: 0.1rem;
  background-color: #53606F;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

#header-menu .submenu a:hover {
  background-color: #F05A28;
}

#header-menu .submenu a.active {
  background-color: #F05A28;
}

#submenu-hide {
  width: auto;
}

#submenu-hide .head {
  padding-right: 1.5em;
  padding-left: 1.5em;
  background-color: #53606F;
  border: none;
}

#submenu-hide .head .title {
  color: #FFFFFF;
}

#submenu-hide .drop-down {
  background-color: #53606F;
  width: auto;
  max-width: none;
  left: 0;
  right: auto;
}

#submenu-hide:hover .drop-down {
  max-height: 20em;
}

#submenu-hide .drop-down a {
  width: 100%;
  padding: 0.75em 1.5em;
}

#search {
  display: none;
  top: 0.2em;
  right: calc(5rem + 18em);
  height: 34px;
}

#search:focus-within {
  width: 20em;
}

#carts {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(5rem + 16em);
  background-color: #34495E;
  overflow: hidden;
  z-index: 2;
}

#carts .wrap {
  height: 2.857em;
  max-height: 2.857em;
  -webkit-transition: max-height 0.3s linear;
  -moz-transition: max-height 0.3s linear;
  -o-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear;
  overflow: hidden;
}

#carts:hover .wrap {
  height: auto;
  max-height: 350px;
  overflow: visible;
}

#carts .items,
#carts .total {
  width: 100%;
}

#carts .item {
  justify-content: center;
  align-items: flex-start;
  height: 4em;
  width: 100%;
  padding: 0 5rem 0 2em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

#carts .item > .row {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#carts .name {
  font-size: 0.857em;
  visibility: hidden;
}

#carts:hover .name {
  visibility: visible;
}

#carts .cart.icon {
  position: relative;
  width: 21px;
  height: 21px;
  margin-right: 1em;
}

#carts .qty.in-circle {
  top: -4.5px;
  right: -9px;
}

#carts .totals {
  justify-content: flex-start;
  align-items: center;
  border-bottom: none;
  cursor: default;
}

/* =====================================================================================================
Стили для "прилипающей" части каталога:
===================================================================================================== */

#header-catalog {
  display: none;
  background-color: #F2F2F2;
}

#header-catalog .container {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.785em;
}

.clear-filter.btn {
  width: 17.6em;
  padding: 0.215em 1.5em;
  margin-bottom: 0.714em;
}

.gallery-head {
  justify-content: flex-end;
  align-items: flex-start;
  width: calc(100% - 20em);
}

.gallery-head .pill {
  margin-bottom: 0.714em;
  background-color: #D3D6D9;
}

.gallery-head .pill .close.icon {
  display: inline-block;
}

.gallery-head .search-info {
  position: relative;
  width: 100%;
  margin-right: 2em;
  overflow: hidden;
}

.gallery-head .search-info > div:not(.fade) {
  justify-content: flex-start;
  width: 100%;
}

#zip-info,
#filters-info {
  display: none;
}

#filters-info .pill {
  max-width: 15em;
}

#zip-info .pill {
  max-width: 90%;
  background-color: rgba(242, 201, 76, 0.5);
}

.gallery-head .search-info .fade {
  position: absolute;
  width: 5em;
  top: 0;
  bottom: 0;
  right: -1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #F2F2F2 100%);
  z-index: 1;
}

.sortbox {
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 0.714em;
}

.view {
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-right: 2.5em;
}

.view .title {
  margin-right: 1em;
  line-height: 0;
}

.view .icon {
  margin-right: 0.714em;
}

.view .icon:last-child {
  margin-right: 0;
}

.view .icon.active {
  cursor: default;
}

.sortbox .activate .head {
  padding: 0.143em 1.5rem;
}

#gallery-sort {
  width: 14.5em;
}

/* =====================================================================================================
Заголовок страницы:
===================================================================================================== */

#main-header {
  display: none;
}

/* =====================================================================================================
Иконки:
===================================================================================================== */

.view .list.icon {
  width: 18px;
  height: 14px;
  background-image: url(../img/view_list.svg);
}

.view .blocks.icon {
  width: 14px;
  height: 14px;
  background-image: url(../img/view_blocks.svg);
}

.view .list.icon.active {
  background-image: url(../img/view_list_active.svg);
}

.view .blocks.icon.active {
  background-image: url(../img/view_blocks_active.svg);
}

/* =====================================================================================================
Стили для основного содержимого:
===================================================================================================== */

#content {
  display: none;
  min-height: 60vh;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#main-header {
  display: none;
}

/* =====================================================================================================
Стили блока фильтров:
===================================================================================================== */

#filters-container {
  display: none;
  width: 19em;
}

#filters {
  position: fixed;
  top: 164px;
  width: 19em;
  min-height: 50vh;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 200;
}

#filters:hover {
  overflow-y: auto;
}

#filters .pop-up {
  width: 17.6em;
}

#filters .filter:last-child {
  margin-bottom: 20px;
}

/* =====================================================================================================
Стили для фильтров OEM:
===================================================================================================== */

#main.equip #zip-filters {
  display: none;
}

#filters .wrap {
  width: 100%;
  padding: 0 0.714em 0.6em;
}

#oem {
  width: 100%;
}

body#snowbike #oem {
  display: none;
}

#zip-filters {
  margin-bottom: 1px;
  padding: 0;
}

#zip-filters.close {
  margin-bottom: 0;
}

#zip-filters > .title {
  background-color: #F05A28;
}

#zip-filters > .items {
  background-color: #F9BA4D;
  padding: 0.714em;
  padding-bottom: 1em;
}

#zip-filters .activate {
  width: 100%;
  margin-bottom: 0.6em;
}

#zip-filters .activate:last-child {
  margin-bottom: 0;
}

#zip-filters .activate.open .drop-down {
  max-height: 15em;
}

/* =====================================================================================================
Стили для фильтров каталога:
===================================================================================================== */

.group[data-key^="size"] .content > .items,
.group[data-key^="color"] .content > .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.group[data-key^="color"] .content > .items {
  margin-left: -8px;
}

.group[data-key^="size"] .checkbox,
.group[data-key^="color"] .checkbox,
.group[data-key^="size"] .item .open.icon,
.group[data-key^="color"] .item .open.icon {
  display: none;
}

.group[data-key^="size"] .text {
  width: 2.7em;
  padding: 0 2px;
  font-size: 0.857em;
  line-height: 1.4;
  border: 1px solid #B3B3B3;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 0.417em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.group[data-key^="size"] .item.checked .text {
  color: #FFFFFF;
  background-color: #F05A28;
  border: 1px solid #F05A28;
}

.group[data-key^="color"] .item {
  padding-top: 0;
}

.group[data-key^="color"] .item .text {
  width: 25px;
  height: 25px;
  margin: 0.714em 0 3px 8px;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.group[data-key^="color"] .item:hover .text {
  transform: scale(1.12, 1.12);
}

.group[data-key^="color"] .item.checked .text {
  background-position-x: -25px;
}

.group[data-key^="color"] .item[data-value] .text {
  display: none;
}

.group[data-key^="color"] .item[data-value$="Белый"] .text,
.group[data-key^="color"] .item[data-value$="white"] .text {
  display: block;
  background-image: url(../img/colors/color_white.png);
}

.group[data-key^="color"] .item[data-value$="Черный"] .text,
.group[data-key^="color"] .item[data-value$="black"] .text {
  display: block;
  background-image: url(../img/colors/color_black.png);
}

.group[data-key^="color"] .item[data-value$="Серый"] .text,
.group[data-key^="color"] .item[data-value$="grey"] .text {
  display: block;
  background-image: url(../img/colors/color_gray.png);
}

.group[data-key^="color"] .item[data-value$="Коричневый"] .text,
.group[data-key^="color"] .item[data-value$="brown"] .text {
  display: block;
  background-image: url(../img/colors/color_brown.png);
}

.group[data-key^="color"] .item[data-value$="Синий"] .text,
.group[data-key^="color"] .fitem[data-value$="blue"] .text {
  display: block;
  background-image: url(../img/colors/color_blue.png);
}

.group[data-key^="color"] .item[data-value$="Голубой"] .text,
.group[data-key^="color"] .item[data-value$="cyan"] .text {
  display: block;
  background-image: url(../img/colors/color_lightblue.png);
}

.group[data-key^="color"] .item[data-value$="Красный"] .text,
.group[data-key^="color"] .item[data-value$="red"] .text {
  display: block;
  background-image: url(../img/colors/color_red.png);
}

.group[data-key^="color"] .item[data-value$="Розовый"] .text,
.group[data-key^="color"] .item[data-value$="pink"] .text {
  display: block;
  background-image: url(../img/colors/color_pink.png);
}

.group[data-key^="color"] .item[data-value$="Фиолетовый"] .text,
.group[data-key^="color"] .item[data-value$="fiol"] .text {
  display: block;
  background-image: url(../img/colors/color_purple.png);
}

.group[data-key^="color"] .item[data-value$="Зеленый"] .text,
.group[data-key^="color"] .item[data-value$="green"] .text {
  display: block;
  background-image: url(../img/colors/color_green.png);
}

.group[data-key^="color"] .item[data-value$="Желтый"] .text,
.group[data-key^="color"] .item[data-value$="yellow"] .text {
  display: block;
  background-image: url(../img/colors/color_yellow.png);
}

.group[data-key^="color"] .item[data-value$="Оранжевый"] .text,
.group[data-key^="color"] .item[data-value$="orange"] .text {
  display: block;
  background-image: url(../img/colors/color_orange.png);
}

.group[data-key^="color"] .item[data-value$="Хаки"] .text,
.group[data-key^="color"] .item[data-value$="haki"] .text {
  display: block;
  background-image: url(../img/colors/color_khaki.png);
}

.group[data-key^="color"] .item[data-value$="Мульти"] .text,
.group[data-key^="color"] .item[data-value$="multicolor"] .text {
  display: block;
  background-image: url(../img/colors/color_colorful.png);
}

.group[data-key^="color"] .item[data-value$="Прозрачный"] .text,
.group[data-key^="color"] .item[data-value$="transparent"] .text {
  display: block;
  background-image: url(../img/colors/color_transparent.png);
}

.group[data-key^="color"] .item[data-value].disabled .text {
  display: none;
}

/* =====================================================================================================
 Стили для галереи:
===================================================================================================== */

/* Стили для галереи: */

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(100% - 20em);
  padding-bottom: 14em;
}

#gallery .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 30vh;
  font-size: 1.15em;
}

/* =====================================================================================================
 Стили для малой карточки:
===================================================================================================== */

.min-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18em;
  min-width: 18em;
  max-width: 28em;
  height: 32.2em;
  margin: 0 -1px -1px 0;
  border: 2px solid #F2F2F2;
  border-radius: 3px;
  overflow: hidden;
}

.min-card .wrap {
  position: absolute;
  top: -4px;
  right: -4px;
  left: -4px;
  padding: 18px;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.min-card:hover {
  overflow: visible;
}

.min-card:hover .wrap {
  box-shadow: 0px 4px 15px rgba(52, 73, 94, 0.1), 0px 2px 10px rgba(52, 73, 94, 0.06), 0px 0px 5px rgba(52, 73, 94, 0.05);
  z-index: 1;
}

.min-card .cart.icon {
  display: none;
  position: absolute;
  right: 1em;
  width: 25px;
  height: 25px;
  margin-right: 0.3em;
}

.min-card .qty.in-circle {
  top: -4.3px;
  right: -7px;
}

.min-card .img-wrap {
  height: 16em;
  cursor: pointer;
}

.min-card .card-action {
  max-width: 100%;
  height: 3.5em;
  margin: 1em 0;
}

.min-card .card-action.displayNone {
  display: block !important;
  visibility: hidden;
}

.min-card .card-title {
  width: 100%;
  margin-bottom: 0.5em;
}

.min-card .card-title .title {
  width: 100%;
  height: 4.2em;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-card .card-price {
  width: 100%;
  height: 2.357em;
  margin-bottom: 0.5em;
}

.min-card .card-price > div {
  justify-content: space-between;
  align-items: baseline;
  width: auto;
  padding: 0;
  font-size: 1.714em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-card .card-price > div:last-child {
  margin-left: 1em;
  text-decoration: line-through;
}

.min-card .tooltips {
  align-items: center;
  height: 1.417em;
  margin-bottom: 0.7em;
}

.min-card .card-sizes {
  margin-bottom: 0.5em;
}

.min-card .card-sizes .row {
  flex-wrap: wrap;
}

.min-card .card-size {
  width: auto;
  margin-bottom: 0;
  font-size: 0.857em;
  padding: 0.751em;
}

.min-card .btn {
  width: 100%;
}

/* =====================================================================================================
 Стили для большой карточки:
===================================================================================================== */

/* Стили для большой карточки экипировки: */

.big-card {
  position: relative;
  align-items: stretch;
  width: 100%;
  height: 18em;
  margin-bottom: 0.714em;
  padding: 1em;
  padding-bottom: 0;
  border-radius: 3px;
  overflow: hidden;
}

.big-card:first-child {
  border-top: none;
}

.big-card .carousel,
.big-card .img-wrap {
  width: 20em;
  margin-right: 1.428em;
  margin-bottom: 1em;
}

.big-card .carousel {
  align-self: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 25px;
}

.big-card .carousel .left-btn,
.big-card .carousel .right-btn {
  width: 25px;
  background-size: 23px;
  opacity: 0.5;
}

.big-card .carousel .left-btn:hover,
.big-card .carousel .right-btn:hover {
  opacity: 1;
}

.big-card .card-content {
  position: relative;
  width: calc(100% - 22em);
}

.big-card .card-head {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 0.375em;
}

.big-card .card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.big-card .card-title > .row {
  justify-content: space-between;
}

.big-card .card-title .title {
  margin-right: 1.428em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.big-card .select-info {
  /* display: none; */
}

.big-card .select-info.show {
  display: flex;
}

.big-card .card-price {
  width: 16em;
  margin-right: 3em;
  margin-bottom: 1em;
}

.big-card .card-sizes {
  position: relative;
  top: -0.714em;
  width: 100%;
}

.big-card .card-fade {
  position: absolute;
  width: calc(100% - 16em);
  height: 2.5em;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  z-index: 1;
}

/* Стили для большой карточки ЗИП: */

body.zip .big-card {
  height: 15.5em;
  padding: 1em;
}

body.zip .big-card .select-info {
  display: block;
  margin-bottom: 0.714em;
}

body.zip .big-card .carousel,
body.zip .big-card .img-wrap {
  width: 16.5em;
  margin-bottom: 0;
}

body.zip .big-card .card-content {
  width: calc(100% - 18em);
}

body.zip .big-card .card-title .title {
  margin-right: 0;
}

body.zip .big-card .card-price {
  margin-bottom: 0;
}

body.zip .big-card .card-sizes {
  position: static;
  width: 14.5em;
}

body.zip .big-card .card-info {
  width: 100%;
}

body.zip .big-card .card-info .oem {
  max-height: 5.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* =====================================================================================================
 Стили для полной карточки:
===================================================================================================== */

/* Стили для полной карточки экипировки: */

.full-card {
  position: relative;
  width: 63em;
  padding: 0;
}

.full-card .pop-up-title {
  padding: 2.5em;
  padding-bottom: 0;
}

.full-card .card-price,
.full-card .select-info,
.full-card .card-sizes,
.full-card .card-options,
.full-card .card-desc,
.full-card .action-desc {
  width: 100%;
}

.full-card .card-content {
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 1.428em;
  border-bottom: 1px solid #C6C6C6;
}

.full-card .card-content > div {
  width: 50%;
}

.full-card .carousel,
.full-card .img-wrap  {
  min-height: 50%;
  padding-right: 1.428em;
}

.full-card .maximize {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  cursor: pointer;
  z-index: 10;
}

.full-card .carousel .left-btn,
.full-card .carousel .right-btn {
  background: rgba(255, 255, 255, 0.2) url(../img/arrow_light_grey.svg) no-repeat center;
  width: 23px;
  background-size: 13px;
}

.full-card .carousel-gallery-wrap:hover .left-btn,
.full-card .carousel-gallery-wrap:hover .right-btn {
  opacity: 1;
}

.full-card .carousel-nav {
  margin-top: 0.357em;
}

.full-card .carousel-nav .carousel-item {
  width: calc(20% - 0.4em);
  min-width: 50px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.full-card .carousel-nav .carousel-item:nth-child(5n) {
  margin-right: 0;
}

.full-card .card-price {
  margin-bottom: 1.428em;
}

.full-card .card-body {
  flex-grow: 1;
  padding: 1.785em 2.5em;
}

.full-card .select-info {
  padding-bottom: 1.428em;
}

.full-card .card-info {
  width: 100%;
}

.full-card .card-options.adaptive {
  font-size: 1em;
  display: none;
}

.full-card .card-info > div:not(:last-child) {
  background-color: #F8F8F8;
  margin-bottom: 1px;
}

.full-card .card-info > div.close:last-child {
  padding-bottom: 0;
}

.full-card .card-info > div .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #91A0AE;
}

.full-card .card-info > div .head >.title {
  color: #FFFFFF;
  padding: 0.714em 2.188em;
}

.full-card .card-info > div .icon {
  margin-right: 2.5em;
}

.full-card .info {
  padding: 1.167em 2.917em;
}

/* Дополнительные стили для карточек ЗИП: */

body.zip .full-card .card-content {
  border-bottom: none;
}

body.zip .full-card .select-info {
  width: auto;
  padding-bottom: 0;
  line-height: 1.8;
}

body.zip  .full-card .card-body {
  padding-top: 0;
}

.full-card .manuf-table {
  min-width: 100%;
  max-width: 100%;
  color: #666666;
  font-weight: 400;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  text-align: left;
  direction: ltr;
  overflow: hidden;
}

.full-card .manuf-table thead {
  background-color: #EEEEEE;
}

.full-card .manuf-table tr {
  border-bottom: 1px solid #D5D5D5;
}

.full-card .manuf-table tr:last-child {
  border-bottom: none;
}

.full-card .manuf-table th,
.full-card .manuf-table td {
  padding: 0.75em 1.14em;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-card .manuf-table td {
  vertical-align: top;
}

body#snowbike .full-card .manuf-table th:nth-child(1),
body#snowbike .full-card .manuf-table td:nth-child(1) {
  display: none;
}

.full-card .manuf-table th:nth-child(2) {
  min-width: 8em;
}

.full-card .card-info > .card-details .info {
  padding: 1em 0;
}

.full-card .card-details .search.row {
  width: 100%;
  padding: 0 2.5em 1em 2.5em;
}

.full-card .card-details .detail,
.full-card .card-details .notice {
  padding: 0.75em 2.5em;
}

.full-card .card-details .detail {
  text-transform: uppercase;
}

.full-card .card-details .detail:nth-child(2n+1) {
  background-color: #F8F8F8;
}

.full-card .card-details .notice {
  display: none;
}

/* =====================================================================================================
Изображение на весь экран:
===================================================================================================== */

#full-img .carousel {
  position: relative;
}

#full-img .carousel .left-btn,
#full-img .carousel .right-btn {
  top: 0;
  height: 100%;
  background: url(../img/slider_arrow.svg) no-repeat center;
  /* opacity: 0.2; */
}

#full-img .carousel:hover .left-btn,
#full-img .carousel:hover .right-btn {
  /* opacity: 0.5; */
}

#full-img .carousel-nav {
  bottom: 1em;
}

#full-img .carousel-nav > div {
  width: 1em;
  height: 1em;
}
