/* =====================================================================================================
Основные стили:
===================================================================================================== */

body {
  padding-top: 102px;
}

/* =====================================================================================================
Стили для "прилипающей" части каталога:
===================================================================================================== */

#header-content {
  display: none;
  background-color: #F2F2F2;
}

#header-content .container {
  justify-content: space-between;
  align-items: stretch;
}

.clear-filter.btn {
  width: 20em;
  margin: 1em 0;
  padding: 0.25em 1.5em;
}

.gallery-head {
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 22em);
  border-bottom: 1px solid #D5D5D5;
}

.gallery-head .result {
  align-items: center;
  padding: 0.25em 0.5em;
  font-size: 0.857em;
  background-color: #E6E6E6;
}

.gallery-head .result .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-head .result .close.icon {
  width: 0.67em;
  height: 0.67em;
  margin-left: 0.5em;
}

.search-info {
  display: none;
  justify-content: flex-start;
  width: calc(100% - 29em);
  padding-right: 2em;
}

#filters-info {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 29em);
  padding: 0.2em 2em 0.2em 0;
}

#filters-info .result {
  max-width: 15em;
  margin: 0.2em 0.5em 0.2em 0;
}

.sortbox {
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 29em;
}

.view {
  justify-content: space-between;
  align-items: center;
  font-size: 1.143em;
  flex-shrink: 0;
  margin-right: 1em;
}

.view .title {
  margin-right: 1em;
}

.view .icon {
  width: 1em;
  height: 1em;
}

.view .icon.active {
  cursor: default;
}

.view .view-list {
  margin-right: 0.5em;
}

.sortbox .activate .head {
  padding: 0.15em 1.5rem;
}

#gallery-sort {
  width: 14.5em;
}

/* =====================================================================================================
Стили для основного содержимого:
===================================================================================================== */

#content {
  display: none;
  min-height: 60vh;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#main-header {
  display: none;
}

/* =====================================================================================================
Стили для блока фильтров:
===================================================================================================== */

#filters-container {
  display: none;
  width: calc(20em + 7px);
}

#filters {
  position: static;
  width: calc(20em + 7px);
  min-height: 50vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

#filters:hover {
  overflow-y: auto;
}

#filters::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

#filters::-webkit-scrollbar-track {
  background-color: #D4D7DB;
}

#filters::-webkit-scrollbar-thumb {
  background-color: rgb(52,73,94,0.5);
  border: 1px solid #D4D7DB;
  border-radius: 3px;
  cursor: pointer;
}

.filter {
  margin-bottom: 0.4em;
}

.filter-title {
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.3em 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.filter-title .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-title .open.icon {
  width: 0.857em;
  height: 0.857em;
}

.filter-items {
  font-size: 0.97em;
}

.filter.close .filter-items {
  display: none;
}

/* =====================================================================================================
Стили для фильтров OEM:
===================================================================================================== */

#zip-filters {
  display: none;
  width: 20em;
  margin-bottom: 1em;
}

#zip-filters .filter-title {
  background-color: #34495E;
}

#zip-filters .filter-title .title {
  color: #FFFFFF;
}

#zip-filters .filter-items {
  background-color: #7B8894;
  border: 1px solid #7B8894;
  padding: 0.7em;
}

#zip-filters .activate {
  width: 100%;
}

#zip-filters .activate .drop-down {
  color: #34495E;
}

#zip-filters .activate.open .drop-down {
  max-height: 15em;
}

#zip-selects .activate {
  margin-bottom: 0.7em;
}

#zip-selects .activate .head {
  padding: 0.15em 1.5rem;
}

#zip-selects .activate:not([disabled]) .head .title {
  color: #34495E;
}

#oem input[type="text"] {
  color: #34495E;
}

/* =====================================================================================================
Стили для фильтров каталога:
===================================================================================================== */

#catalog-filters {
  width: 20em;
}

#catalog-filters .filter-title {
  background-color: #D4D7DB;
}

#catalog-filters .filter-items {
  background-color: #FFFFFF;
  border: 1px solid #D5D5D5;
}

.filter-title-container {
  align-items: center;
  width: 100%;
  padding: 0 0.7em 0.7em 0.7em;
}

.filter-item.item:first-child > .filter-title-container {
  padding-top: 0.7em;
}

.filter-item-title {
  align-items: center;
  cursor: pointer;
}

.filter-item-title .checkbox {
  width: 0.75em;
  height: 0.75em;
}

.item-title {
  color: #34495E;
  padding-left: 0.5em;
}

.filter-item .drop-down.icon {
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.5em;
  transform: rotate(90deg);
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}

.filter-item.close .drop-down.icon {
  transform: rotate(0deg);
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.filter-item.close .filter-subitems {
  display: none;
}

.filter-item.subitem {
  padding-left: 1.3em;
}

.filter-item.disabled > div > .filter-item-title {
  cursor: default;
}

.filter-item.disabled > div > div .item-title {
  color: rgba(102, 102, 102, 0.7);
}

#filter-size .filter-items,
#filter-color .filter-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0.7em 1.5em;
}

#filter-size.close .filter-items,
#filter-color.close .filter-items {
  display: none;
}

#filter-size .filter-title-container,
#filter-color .filter-title-container {
  padding: 0;
}

#filter-size .checkbox,
#filter-size .drop-down.icon,
#filter-color .checkbox,
#filter-color .drop-down.icon {
  display: none;
}

#filter-size .item-title {
  width: 2.4em;
  padding: 0;
  line-height: 1.4;
  border: 1px solid rgba(52, 73, 94, 0.4);
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  margin: 0.2em
}

#filter-size .filter-item.checked .item-title {
  color: #FFFFFF;
  background-color: #34495E;
}

#filter-color .filter-item-title {
  width: 25px;
  height: 25px;
  margin: 4px;
  font-size: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

#filter-color .filter-item-title:hover {
  transform: scale(1.1, 1.1);
}

#filter-color .filter-item.disabled .filter-item-title:hover {
  transform: none;
}

#filter-color .filter-item.checked .filter-item-title {
  background-position-x: -25px;
}

#filter-color .filter-item.disabled .filter-item-title {
  background-position-x: -50px;
}

#filter-color .filter-item[data-value="white"] .filter-item-title {
  background-image: url(../img/color_white.png);
}

#filter-color .filter-item[data-value="black"] .filter-item-title {
  background-image: url(../img/color_black.png);
}

#filter-color .filter-item[data-value="grey"] .filter-item-title {
  background-image: url(../img/color_gray.png);
}

#filter-color .filter-item[data-value="brown"] .filter-item-title {
  background-image: url(../img/color_brown.png);
}

#filter-color .filter-item[data-value="blue"] .filter-item-title {
  background-image: url(../img/color_blue.png);
}

#filter-color .filter-item[data-value="cyan"] .filter-item-title {
  background-image: url(../img/color_lightblue.png);
}

#filter-color .filter-item[data-value="turquoise"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="bordo"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="red"] .filter-item-title {
  background-image: url(../img/color_red.png);
}

#filter-color .filter-item[data-value="pink"] .filter-item-title {
  background-image: url(../img/color_pink.png);
}

#filter-color .filter-item[data-value="green"] .filter-item-title {
  background-image: url(../img/color_green.png);
}

#filter-color .filter-item[data-value="yellow"] .filter-item-title {
  background-image: url(../img/color_yellow.png);
}

#filter-color .filter-item[data-value="orange"] .filter-item-title {
  background-image: url(../img/color_orange.png);
}

#filter-color .filter-item[data-value="fiol"] .filter-item-title {
  background-image: url(../img/color_purple.png);
}

#filter-color .filter-item[data-value="fuxy"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="camo"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="haki"] .filter-item-title {
  background-image: url(../img/color_khaki.png);
}

#filter-color .filter-item[data-value="multicolor"] .filter-item-title {
  background-image: url(../img/color_colorful.png);
}

#filter-color .filter-item[data-value="transparent"] .filter-item-title {
  background-image: url(../img/color_transparent.png);
}

#filter-color .filter-item[data-value="black/pink"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="black/grey"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="metallic"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

#filter-color .filter-item[data-value="graphite"] .filter-item-title {
  display: none;
  /* background-image: url(../img/content); */
}

/* =====================================================================================================
 Стили для галереи:
===================================================================================================== */

/* Стили для галереи: */

#gallery {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(100% - 22em);
}

#gallery-notice {
  display: none;
  width: calc(100% - 22em);
  min-height: 30vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.15em;
}

/* =====================================================================================================
 Стили для малой карточки:
===================================================================================================== */

.min-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18em;
  margin: 0 -1px -1px 0;
  padding: 1em;
  background-color: #FFFFFF;
  border: 1px solid rgba(52, 73, 94, 0.15);
  cursor: pointer;
}

.min-card:hover {
  border: 1px solid rgba(52, 73, 94, 0.15);
  z-index: 1;
}

.min-card .card-img-wrap {
  display: flex;
  align-items: center;
  height: 13.5em;
  margin: 0 auto;
  overflow: hidden;
}

.min-card .card-img {
  max-width: 13.5em;
  margin: 0 auto;
}

.min-card .card-title {
  width: 100%;
  height: 3.3em;
  margin: 0.5em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-card .card-price {
  width: 100%;
  height: 4.7em;
  margin-bottom: 0.5em;
}

.min-card .card-info {
  justify-content: space-between;
  text-align: center;
  height: 1.7em;
}

.min-card .tooltips {
  align-items: center;
  font-size: 1.14em;
  height: 100%;
}

.min-card .cart.icon {
  display: none;
  position: relative;
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.2em;
}

.min-card .qty.in-circle {
  top: -0.2em;
  right: -0.5em;
}

.min-card .tooltips > .row {
  padding-right: 0.2em;
}

/* =====================================================================================================
 Стили для большой карточки:
===================================================================================================== */

/* Стили для большой карточки экипировки: */

.big-card {
  position: relative;
  width: 100%;
  height: 16em;
  min-height: 16em;
  margin: 0 0 -1px 0;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 1px solid #D5D5D5;
}

.big-card:first-child {
  border-top: none;
}

.big-card .container-left {
  align-items: center;
  width: 82%;
}

.big-card .card-content {
  width: calc(100% - 17.5em);
  height: 100%;
}

.big-card .carousel {
  width: 13em;
  height: 13em;
  margin-left: 1.5em;
  margin-right: 3em;
}

.big-card .carousel .left-btn,
.big-card .carousel .right-btn {
  background-size: 0.7em;
  opacity: 0.3;
}

.big-card .carousel .left-btn {
  left: -1.5em;
}

.big-card .carousel .right-btn {
  right: -1.5em;
}

.big-card .card-head {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 2.75em;
}

.big-card .card-title {
  width: calc(100% - 25em);
  font-size: 1.143em;
}

.big-card .select-info {
  width: 25em;
}

.big-card .card-price {
  width: 14em;
  margin-right: 1em;
}

.big-card .card-price > div:first-child {
  margin-bottom: 2.85em;
}

.big-card .card-sizes {
  width: calc(100% - 14em);
}

.big-card .card-size {
  width: 18.5em;
}

.big-card .tooltips {
  justify-content: center;
}

.big-card .container-right {
  width: 18%;
  height: 100%;
  padding-left: 1em;
  border-left: 1px solid rgba(133, 150, 166, 0.2);
}

.big-card .card-options {
  width: 100%;
  height: 14.5em;
  overflow: hidden;
}

.big-card .card-option {
  line-height: 1.6;
}

.big-card .option-title {
  min-width: 10em;
  max-width: 10em;
}

.big-card .card-fade {
  position: absolute;
  height: 3em;
  width: 40%;
  bottom: 1px;
  right: 1px;
  background: linear-gradient(to bottom, rgb(255,255,255,0), rgb(255,255,255));
  z-index: 1;
}

.big-card .details {
  position: absolute;
  right: 1em;
  bottom: 1em;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.857em;
  z-index: 2;
}

/* Стили для большой карточки ЗИП: */

.main.zip .big-card {
  height: 17em;
  min-height: 17em;
}

.main.zip .big-card.open {
  height: auto !important;
}

.main.zip .big-card .container-left {
  width: 60%;
}

.main.zip .big-card .card-title {
  width: 100%;
}

.main.zip .big-card .card-select {
  width: calc(100% - 14em);
}

.main.zip .big-card .card-sizes {
  width: 100%;
  margin-bottom: 1.5em;
}

.main.zip .big-card .select-info {
  width: 100%;
  padding-left: 4em;
}

.main.zip .big-card .container-right {
  justify-content: flex-start;
  width: 40%;
}

.main.zip .big-card .card-options {
  height: auto;
  overflow: visible;
  margin-bottom: 1.5em;
}

.main.zip .big-card .option-title {
  min-width: 14em;
  max-width: 14em;
}

.main.zip .big-card .details {
  right: 1em;
  top: 1em;
}

/* =====================================================================================================
 Стили для полной карточки:
===================================================================================================== */

/* Стили для полной карточки экипировки: */

.full-card .carousel-gallery-wrap {
  min-height: 30em;
  border-bottom: 1px solid rgba(133, 150, 166, 0.2);
}

.full-card .card-choice {
  min-height: 30em;
  border-bottom: 1px solid rgba(133, 150, 166, 0.2);
}

.full-card .card-options {
  padding-left: 3rem;
}

/* Стили для полной карточки ЗИП: */

.main.zip .full-card .carousel-gallery-wrap {
  min-height: 28em;
}

.main.zip .full-card .card-choice {
  min-height: 28em;
}

/* Стили для полной карточки ЗИП: */

.main.zip .full-card .card-opt {
  padding-left: 3rem;
}
