.mob-menu{
  display: none;
  width: 1.5em;
  height: 1.5em;
  background: url('../img/mob-menu-ic.svg') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

td {
  vertical-align: middle!important;
}

.main a{
  font-size: 1em;
  color: #117FED;
}

.main .btn{
  display: inline-block;
  margin-bottom: 1.6em;
}

.add.icon{
  display: none;
  width: 2.125em;
  height: 2.125em;
}

#main-header .btn{
  margin-top: 1em;
}

#main-header .main-title.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-col{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-btn{
  background: #34495E;
}

.fullWidth{
  width: 100%;
  display: flex;
  justify-content: center;
}

.halfWidth{
  width: 50%;
}

.open.icon{
  display: none;
}

section{
	margin-bottom: 20px;
}

.section-title{
	font-size: 1.5em;
	line-height: 1.4em;
	text-transform: uppercase;
	color: #34495E;
}

legend select{
	width: 11.0125em;
	height: 2.0125em;
	font-size: 0.785em;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	color: #C6C6C6;
}

.txt{
	padding-top: 1.85em;
	padding-left: 0.625em;
	font-size: 0.875em;
	color: #666666;
}

.select-choice{
  margin-top: 1.2em;
}

.row .select-qty{
  display: flex;
  align-items: center;
}

/* универсальные новые блоки для данных */

.infoblock{
	display: block;
	width: 100%;
	padding: 1.25em 1.25em  0.9375em  1.25em;
	background: #ffffff;
}

.section-head{
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.info-wrap{
	display: flex;
	width: 100%;
	margin-top: 20px;
}

/* Цветовая гамма статусов доступа пользователей */
/* частичный */
.access.limited{
  color: #F69C00;
  background-color: #FEF5E5;
  border: 1px solid #F69C00;
}

/* полный */
.access.boundless{
  border: 1px solid #3F9726;
  color: #3F9726;
  background-color: #ECF5E9;
}

/* отключен */
.access.denied{
  border: 1px solid #B3BAC2;
  color: #B3BAC2;
  background-color: #E7EAED;
}

.access{
  width: 100px;
  padding: 0 1em;
  border: 1px solid transparent;
  border-radius: 30px;
  text-align: center;
  font-size: 1em;
  color: #666666;
  background-color: #fff;
  cursor: default;
}

.check-access{
  display: none;
}

/* Стили для тоггла кнопок десктопа */
.table-btn{
	/* width: 110px;
	height: 28px; */
  padding: 4px 30px 4px 10px;
  border: 1px solid transparent;
	border-radius: 20px;
	text-align: center;
	font-size: 0.875em;
	color: #B3B3B3;
  background: #E3E3E3;
  outline: none;
  user-select: none;
  transition: linear .1s;
}

.status1{
  color: #ffffff;
	background: #2C6DA8 url('../img/newDesign/close-toggle.svg') no-repeat 92% center!important;
}

.status2{
  color: #ffffff;
	background: #F69C00 url('../img/newDesign/close-toggle.svg') no-repeat 92% center!important;
}

.status3{
  color: #ffffff;
	background: #6C4D77 url('../img/newDesign/close-toggle.svg') no-repeat 92% center!important;
}

.status4{
  color: #ffffff;
	background: #3F9726 url('../img/newDesign/close-toggle.svg') no-repeat 92% center!important;
}

/* Цветовая гамма статусов заказа - неактивные */

.vputi.table-btn {
  padding: 4px 10px 4px 10px;
  color: #2C6DA8;
  background-color: #EAF0F6;
  border: 1px solid #2C6DA8;
}

.vnali.table-btn {
  padding: 4px 10px 4px 10px;
  color: #F69C00;
  background-color: #FEF5E5;
  border: 1px solid #F69C00;
}

.sobrn.table-btn {
  padding: 4px 10px 4px 10px;
  color: #6C4D77;
  background-color: #F0EDF1;
  border: 1px solid #6C4D77;
}

.otgrz.table-btn {
  padding: 4px 10px 4px 10px;
  color: #3F9726;
  background-color: #ECF5E9;
  border: 1px solid #3F9726;
}

.nedop.table-btn {
  padding: 4px 10px 4px 10px;
  color: #8596A6;
  background-color: #F3F4F6;
  border: 1px solid #8596A6;
}

/* Стили календаря */
.calendar {
  z-index: 420;
	position: absolute;
  box-shadow: 0px 0px 10px grey;
	background-color: white;
}

.calendar .input-area {
  position: relative;
  background: #F8F8F8;
}

.calendar .input-area .month-navigator {
	display: flex;
	justify-content: space-between;
  background: #F2F2F2;
}

.calendar .input-area .month-navigator .month-previous, .calendar .input-area .month-navigator .month-next {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.calendar .input-area .month-navigator .month-previous {
  margin-top: 5px;
  background: url("../img/newDesign/calendar-arrow.svg") no-repeat center center;
  -webkit-background-size: contain;
  background-size: 35%;

}

.calendar .input-area .month-navigator .month-next {
  margin-top: 5px;
  background: url("../img/newDesign/calendar-arrow.svg") no-repeat center center;
  -webkit-background-size: contain;
  background-size: 35%;
  transform: rotate(180deg);
}

.calendar .input-area .month-navigator .nav-center{
  display: flex;
}

.calendar .input-area .month-navigator .month {
  width: 104px;
  text-align: center;
  font-size: 14px;
  padding: 10px 0px;
  color: #34495E;
}

.calendar .input-area .month-navigator .years-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 6px;
  width: 20px;
  height: 26px;
}

.calendar .input-area .month-navigator .years-nav .prev-year{
  width: 100%;
  height: 10px;
  background: url("../img/newDesign/calendar-arrow.svg") no-repeat center center;
  background-size: contain;
  transform: rotate(90deg);
}

.calendar .input-area .month-navigator .years-nav .next-year{
  width: 100%;
  height: 10px;
  background: url("../img/newDesign/calendar-arrow.svg") no-repeat center center;
  background-size: contain;
  transform: rotate(270deg);
}

.calendar .input-area .tbl-calendar {
  font-size: 12px;
  width: 100%;
  margin: 0px auto;
}

.tbl-calendar{
  border-spacing: 0;
}

.calendar .tbl-calendar thead{
  line-height: 3em;
  background: #F2F2F2;
}

.calendar .input-area .tbl-calendar thead th {
  color: #53606F;
}

.calendar .input-area .tbl-calendar tbody tr td {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #666666;
}

.calendar .input-area .tbl-calendar tbody tr td.date-cell {
  cursor: pointer;
}

.calendar .input-area .tbl-calendar tbody tr td.date-cell:hover {
  background-color: #ebebeb;
  border-radius: 100%;
}

.calendar .input-area .tbl-calendar tbody tr td.date-cell.dt-active {
  background-color: lightseagreen;
  border-radius: 100%;
  color: white;
}

input[data-intype="birth"],
input[data-intype="range"] {
  background: #ffffff url('../img/newDesign/calendar-ic.svg') no-repeat 95%;
}

.user-status.edit{
  width: 24px;
  height: 24px;
  background: url('../img/newDesign/user_edit-ic.svg') no-repeat  50%;
  cursor: pointer;
}

.radio-access{
  display: flex;
  align-items: center;
}

.radio-access:first-child{
  margin-right: 4vw;
}

.radio-text{
  margin-left: 0.8em;
}

/* медиа стили */

@media (max-width: 1575px) {

  .header-top .alerts.icon {
    position: relative;
    width: 2.25em;
    height: 2.25em;
    margin-left: 0;
  }

  .header-top .activate .head{
    width: 13em;
  }

}

/* Медиа-стили для laptop */

@media (max-width: 1337px) {

  body{
    padding-top: 40px;
    padding-bottom: 78px;
  }

  .header-top .container{
    height: 2.5em;
  }

  .header-top .logo{
    display: flex!important;
    align-items: center;
  }

  .header-top .logo img {
    max-height: 2em;
    max-width: 103px;
    min-width: 103px;
  }

  .header-top .left-side > .row{
    display: none;
  }

  .header-top .activate .head{
    width: 4em;
  }

  .header-top .activate{
    height: 2.4em;
  }

  #profile{
    display: none;
    width: 0;
  }

  .header-top .profile.icon{
    width: 1.5em;
    height: 1.5em;
  }

  .header-top .alerts.icon {
    width: 1.5em;
    height: 1.5em;
  }

  .header-top .activate {
    width: 4em;
  }

  .icon {
    background-size: contain;
    width: 1em;
    height: 1em;
    cursor: pointer;
  }

  .profile.icon {
    background-image: url(../img/newDesign/user-ic-tablet.svg);
    background-repeat: no-repeat;
  }

  .alerts.icon{
    background-image: url(../img/newDesign/alert-ic-tablet.svg);
    background-repeat: no-repeat;
  }

  .qty.in-circle{
    top: -0.4em;
    right: -0.5em;
  }

  .mob-menu {
    display: block;
    margin-left: 1.55em;
  }

  .infoblock{
    padding: 0;
  }

  .section-head{
    padding: 1.25em 1.25em 1.25em 1.25em;
    background: #53606F;
  }

  .section-title{
    color: #ffffff;
  }


}

@media (max-width: 768px) {

  .main-title .row {
    margin-bottom: 0;
  }

  #main-header .btn{
    display: none;
  }

  .add.icon{
    display: block;
  }

  .main .btn{
    display: none;
  }

}


@media(max-width: 685px) {
  .header-top .logo img {
    max-width: 88px;
  }
}

@media (max-width: 499px) {

  .header-top{
    padding: 0 1em;
  }

  #main-header{
    padding: 1em;
  }

  .main-title .title{
    font-size: 1.5em;
  }

}

@media (max-width: 499px) {
  .modal{
    width: 100%;
    min-width: 100%;
    height: 100vh;
  }

  .block-shift{
    flex-direction: column!important;
    align-items: center;
  }

  .mob-cols{
    display: flex;
    flex-direction: column;
  }

}
