@media (max-width: 1575px) {

  .header-top .alerts.icon {
    position: relative;
    width: 2.25em;
    height: 2.25em;
    margin-left: 0;
  }

  .header-top .activate .head{
    width: 13em;
  }

}


/* Медиа-стили для laptop */
@media (max-width: 1367px) {

  .new-container {
    margin: 0 1.98em!important;
  }

}

@media (max-width: 1299px) {

  body{
    padding-top: 40px;
    padding-bottom: 78px;
  }

  .header-top .container{
    height: 2.5em;
  }

  .header-top .logo{
    display: flex;
    align-items: center;
  }

  .header-top .logo img {
    max-height: 2em;
    max-width: 103px;
    min-width: 103px;
  }

  .header-top .left-side > .row{
    display: none;
  }

  .header-top .activate .head{
    width: 4em;
  }

  .header-top .activate{
    height: 2.4em;
  }

  #profile{
    display: none;
    width: 0;
  }

  .header-top .profile.icon{
    width: 1.5em;
    height: 1.5em;
  }

  .header-top .alerts.icon {
    width: 1.5em;
    height: 1.5em;
  }

  .icon {
    background-size: contain;
    width: 1em;
    height: 1em;
    cursor: pointer;
  }

  .profile.icon {
    background-image: url(../img/desktop/user-ic-tablet.svg);
    background-repeat: no-repeat;
  }

  .alerts.icon{
    background-image: url(../img/desktop/alert-ic-tablet.svg);
    background-repeat: no-repeat;
  }

  .qty.in-circle{
    top: -0.4em;
    right: -0.5em;
  }

  .mob-menu {
    display: block;
    margin-left: 1.55em;
  }

}

@media(max-width: 685px) {
  .header-top .logo img {
    max-width: 88px;
  }
}

@media (max-width: 499px) {

  .new-container {
    margin: 0!important;
  }

  .header-top{
    padding: 0 1em;
  }

  #main-header{
    padding: 1em;
  }

  .main-title .title{
    font-size: 1.5em;
  }

}
