/* Разрешения без ховера: */
@media (pointer:coarse) {
  #filters {
    overflow-y: scroll;
  }
  .min-card:hover {
    overflow: hidden;
  }
  .min-card:hover .wrap {
    box-shadow: none;
    z-index: 0;
  }
}

/* Стили на ширину свыше 1920px: */
@media only screen and (min-width: 1921px) {
  .full-card {
    width: 46%;
    max-width: 1500px;
  }
}

/* Стили на ширину свыше 1080px: */
@media only screen and (min-width: 1081px) {
  #search:not(:focus-within) .search.icon {
    visibility: visible !important;
  }

  #search:not(:focus-within) .close.icon {
    visibility: hidden !important;
  }
}

/* Стили на ширину от 0 до 1360px включительно: */
@media only screen and (max-width: 1360px) {
  .search-info {
    display: none !important;
  }

  .big-card .carousel {
    width: 18em;
  }

  .big-card .card-content {
    width: calc(100% - 20em);
  }
}

/* Стили на ширину от 0 до 1080px включительно: */
@media only screen and (max-width: 1080px) {
  .clear-filter.btn,
  .view .title,
  #gallery-sort  {
    display: none !important;
  }

  #search {
    top: 105px;
    right: auto;
    left: 2.4rem;
    width: calc(100vw - 200px) !important;
    max-width: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  #search ::-webkit-input-placeholder {color: #C6C6C6;}
  #search ::-ms-input-placeholder {color: #C6C6C6;}
  #search ::-ms-input-placeholder {color: #C6C6C6;}
  #search ::-moz-placeholder {color: #C6C6C6;}
  #search :-moz-placeholder {color: #C6C6C6;}
  #search ::placeholder {color: #C6C6C6;}

  #search input[type="text"] {
    width: 100% !important;
    max-width: none;
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    outline: none;
    cursor: default;
    z-index: 0;
  }

  #search input[type="text"]:focus {
    border-color: #666666;
  }

  #search .search.icon {
    background-image: url(../img/search_grey.svg);
  }

  #filters-container,
  #filters {
    width: 0 !important;
    height: 0 !important;
  }

  #filters {
    position: static !important;
  }

  #filters .filter:last-child {
    margin-bottom: 1px;
  }

  .gallery-head,
  #gallery-notice,
  #gallery {
    width: 100%;
  }

  .gallery-head {
    padding-bottom: 1em;
  }

  .view.row {
    margin-right: 0;
  }

  .view .blocks.icon {
    width: 30px;
    height: 30px;
    margin-right: 1em;
  }

  .view .list.icon {
    width: 34px;
    height: 30px;
  }
}

/* Стили на ширину от 0 до 768px включительно: */
@media only screen and (max-width: 768px) {
  .min-card {
    width: 17em;
    min-width: 17em;
    max-width: 26.5em;
    height: 30em;
  }

  .min-card .img-wrap {
    height: 15em;
  }

  .big-card .carousel {
    width: 16em;
    max-width: 40%;
    margin-top: 4em;
  }

  .big-card .card-content {
    position: static;
    width: calc(100% - 18em);
    min-width: 55%;
    margin-top: 3.5em;
  }

  .big-card .card-head {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    padding: 0 1em;
  }

  .big-card .card-sizes {
    display: none !important;
  }

  .big-card .card-price {
    width: 100%;
  }

  .big-card .card-fade {
    display: none;
  }

  #full-card-container {
    padding: 0;
  }

  .full-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
  }

  .full-card .pop-up-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

/* Стили на ширину от 0 до 699px включительно: */
@media only screen and (max-width: 599px) {
  .full-card .card-content {
    position: relative;
    flex-direction: column;
  }

  .full-card .card-content > div {
    width: 100%;
  }

  .full-card .carousel {
    display: flex;
    justify-content: center;
    padding-right: 0;
    margin-bottom: 1.428em;
  }

  .full-card .carousel-gallery-wrap {
    max-width: 250px;
    position: static;
  }

  .full-card .carousel-gallery-wrap .left-btn,
  .full-card .carousel-gallery-wrap .right-btn {
    opacity: 1;
  }

  .full-card .carousel-nav {
    display: none;
  }

  .full-card .card-options.desk {
    display: none;
  }

  .full-card .card-options.adaptive {
    display: block;
  }
}

/* Стили на ширину от 0 до 499px включительно: */
@media only screen and (max-width: 499px) {
  #header-menu {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  #search {
    top: 1.785em;
    left: 1.6rem;
    width: calc(100vw - 90px) !important;
    visibility: visible;
  }

  .view.row {
    display: none;
  }

  .full-card .pop-up-title {
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1.5em;
  }

  .full-card .card-content {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .full-card .carousel {
    margin-bottom: 1.428em;
  }

  .full-card .card-price {
    margin-bottom: 0;
  }

  .full-card .card-body {
    padding: 1.785em 1.5em;
  }

  .full-card .select-info {
    flex-wrap: wrap;
  }

  .full-card .card-info > div .head >.title {
    padding: 0.714em 1.3125em;
  }

  .full-card .card-info > div .icon {
    margin-right: 1.5em;
  }

  .full-card .card-info > div .info {
    padding: 1em 1.75em;
  }
}
