#reclm td:nth-child(1) {
  min-width: 10em;
}

#reclm td:nth-child(2) {
  min-width: 10em;
  text-align: center;
}

#reclm td:nth-child(3) {
  min-width: 10em;
}

#reclm td:nth-child(4) {
  min-width: 10em;
}

#reclm td:nth-child(5) {
  min-width: 10em;
}

#reclm td:nth-child(6) {
  min-width: 10em;
  text-align: center;
}