/* =====================================================================================================
Стили страницы "Заказы":
===================================================================================================== */

/* Стили строки с легендами */

#main-header .legend-row {
  justify-content: space-between;
  align-items: center;
  color: #888888;
}

#main-header .legend-row > .row {
  justify-content: flex-start;
  align-items: center;
  margin-right: 3em;
}

#main-header .legend {
  width: 0.71em;
  height: 0.71em;
  margin-right: 0.57em;
  cursor: default;
}

/* Стили таблицы */

.table-wrap {
  max-height: 76vh;
}

thead .percent {
  display: block;
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 1em;
}

thead .percent::before {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -1.5em;
  width: 3em;
  font-size: 0.67em;
  text-align: center;
}

thead .twenty {
  left: 20%;
}

thead .twenty::before {
  content: '20%';
}

thead .forty {
  left: 40%;
}

thead .forty::before {
  content: '40%';
}

thead .sixty {
  left: 60%;
}

thead .sixty::before {
  content: '60%';
}

thead .eighty {
  left: 80%;
}

thead .eighty::before {
  content: '80%';
}

thead .hundred {
  right: 0;
}

thead .hundred::before {
  content: '100%';
  right: 0;
}

thead .percent::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 100%;
  width: 1px;
  height: 75vh;
  background-color: #E4E4E4;
}

thead .legend {
  width: 0.71em;
  height: 0.71em;
  margin-right: 1em;
}

#orderslist td:nth-child(1) {
  min-width: 9em;
}

#orderslist td:nth-child(2) {
  min-width: 10em;
}

#orderslist td:nth-child(3) {
  min-width: 10em;
}

#orderslist td:nth-child(4) {
  min-width: 10em;
}

#orderslist td:nth-child(5) {
  min-width: 10em;
}

#orderslist td:nth-child(6) {
  min-width: 11em;
  padding: 0;
  text-align: right;
}

#orderslist td:nth-child(6) .row {
  justify-content: flex-end;
  align-items: center;
}

#orderslist td:nth-child(6) .row > div:first-child {
  padding: 0.7em 0 0.7em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#orderslist td:nth-child(7) {
  min-width: 10em;
}

#orderslist td:nth-child(8) {
  min-width: 30em;
  padding: 0;
  border-left: 1px solid #DCDCDC;
  border-bottom: none;
}

#orderslist td:nth-child(8) > div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

#orderslist td:nth-child(8) > div > div {
  height: 1.25em;
}

#orderslist tr.disabled td:nth-child(8) {
  background-color: #DDDDDD;
}
