@media only screen and (max-width: 1340px) {
  .control .wrap {
    display: block;
  }

  .control .options {
    margin-top: 1em;
  }

  .control .pills {
    margin-left: 0;
  }

  .table .control ~ .table-desktop > thead > tr > th {
    top: 164px;
  }
}

@media only screen and (max-width: 1000px) {
  .infoblock .info > .row {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
  }

  .infoblock .info > .row > div:first-child {
    width: 12em;
    min-width: 12em;
  }
}

@media only screen and (max-width: 800px) {
  .infoblock .info > .row {
    flex-grow: 0;
    flex-shrink: 0;
    width: 55%;
  }
}

@media only screen and (max-width: 699px) {
  .infoblock .info {
    display: block;
  }
  .infoblock .info > .row {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
  }
  .infoblock .info > .pills {
    margin-left: 0;
  }
  .infoblock .pill {
    margin-right: 0.5em;
    font-size: 0.857em;
  }
}
