/* Стили таблицы: */

.table-desktop > thead > tr > th div:first-child {
  text-align: left;
}

.table-desktop > tbody > tr > td a {
  flex-grow: 0;
  flex-shrink: 0;
}

.table-desktop {
  display: table!important;
}
