/* =====================================================================================================
Основное содержимое страницы:
===================================================================================================== */

/* Стили шапки над таблицами */

#main-info {
  margin-bottom: 20px;
}

.common-info {
  justify-content: space-between;
  padding-bottom: 1em;
}

.common-info .info {
  width: 100%;
}

.side:first-child {
  margin-right: 2em;
}

.side > div {
  margin-bottom: 0.357em;
}

.side:first-child .row > .title {
  width: 7.5em;
  min-width: 7.5em;
}

.side:last-child .row > .title {
  width: 13em;
  min-width: 13em;
}

.details {
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
}

.details .sum {
  display: none;
  margin-right: 1.428em;
}

.details .sum span {
  font-weight: 700;
}

.details .btn {
  width: 10em;
  margin-bottom: 1em;
}

.details .docs {
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
}

.more.row {
  justify-content: space-between;
  border-top: 1px solid #C6C6C6;
  padding-top: 1em;
}

.comment {
  margin-right: 1.428em;
}

.comment .title {
  width: 7.5em;
}

.btns {
  flex-shrink: 0;
}

.btns .btn:first-child {
  margin-right: 0.714em;
}

/* Стили вкладок таблицы */

.tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  align-items: stretch;
  background-color: #F2F2F2;
  z-index: 1;
}

.tabs .tab {
  width: 12.143em;
  height: 53px;
  margin-right: 0.714em;
  border-bottom: none;
  border-radius: 3px 3px 0px 0px;
}

.tabs .tab.nomen.disabled {
  color: #FFFFFF;
  background-color: #91A0AE;
  border: 1px solid #91A0AE;
}

/* Стили для всех таблиц */

.table-desktop > tbody > tr:last-child > td {
  border-bottom: none;
}

.table-desktop > thead > tr > th {
  top: 116px;
}

.table-desktop > thead > tr.results > th {
  top: 156px;
}

.table-desktop > tbody > tr > td.link {
  color: #117FED;
  text-decoration: underline;
  cursor: pointer;
}

/* Стили таблицы "Итого" */

#nomen > table {
  border: 1px solid #91A0AE;
}

#nomen > table > thead > tr:not(.results) > th {
  background-color: #91A0AE;
}

/* Стили таблицы "В пути" */

#vputi > table {
  border: 1px solid #6B99C2;
}

#vputi > table > thead > tr:not(.results) > th {
  background-color: #6B99C2;
}

/* Стили таблицы "В наличии" */

#vnali > table {
  border: 1px solid #F9BA4D;
}

#vnali > table > thead > tr:not(.results) > th {
  background-color: #F9BA4D;
}

/* Стили таблицы "Собран" */

#sobrn > table {
  border: 1px solid #9882A0;
}

#sobrn > table > thead > tr:not(.results) > th {
  background-color: #9882A0;
}

/* Стили таблицы "Отгружен" */

#otgrz > table {
  border: 1px solid #79B667;
}

#otgrz > table > thead > tr:not(.results) > th {
  background-color: #79B667;
}

#otgrz > table > tbody > tr > td.qty {
  min-width: 10em;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

#otgrz > table > tbody > tr > td.qty .row {
  justify-content: flex-end;
  align-items: center;
}

#otgrz > table > tbody > tr > td.qty .icon {
  width: 26px;
  height: 26px;
}

/* Стили таблицы "Непоставка" */

#nedop > table {
  border: 1px solid #91A0AE;
}

#nedop > table > thead > tr:not(.results) > th {
  background-color: #91A0AE;
}

/* Стили таблицы "Рекламации" */

#reclm > table {
  border: 1px solid #91A0AE;
}

#reclm > table > thead > tr:not(.results) > th {
  background-color: #91A0AE;
}

/* =====================================================================================================
Мастер создания рекламации:
===================================================================================================== */

#make-reclm .pop-up {
  width: 47em;
}

#make-reclm .order-info {
  margin-bottom: 1.428em;
}

#make-reclm .order-info > div:first-child {
  margin-bottom: 0.714em;
}

#make-reclm .img-wrap {
  width: 10em;
  height: 10em;
}

#make-reclm img {
  max-width: 100%;
  max-height: 100%;
}

#make-reclm textarea {
  height: 5.5em;
}

/* =====================================================================================================
Отгрузки:
===================================================================================================== */

#shipments .pop-up {
  min-width: 56em;
}

#shipments table {
  min-width: 100%;
  max-width: 100%;
  color: #666666;
  font-weight: 400;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  text-align: left;
  direction: ltr;
  overflow: hidden;
}

#shipments thead {
  background-color: #EEEEEE;
}

#shipments th,
#shipments td {
  padding: 0.75em 1.14em;
  font-weight: 400;
}

#shipments th {
  text-align: center;
}

#shipments td {
  border-bottom: 1px solid #D5D5D5;
}

#shipments tr:last-child td {
  border-bottom: none;
}

#shipments .icon {
  margin-right: 0.5em;
}

#shipments td:nth-child(2),
#shipments td:nth-child(3),
#shipments td:nth-child(4) {
  white-space: nowrap;
}

#shipments td:nth-child(1) .row {
  align-items: center;
  color: #666666;
  text-decoration: none;
}

#shipments td:nth-child(2) .row {
  justify-content: center;
  align-items: center;
}

#shipments td:nth-child(3),
#shipments td:nth-child(4) {
  text-align: right;
}

#shipments .adaptive {
  display: none;
  width: 100%;
}

#shipments .info > div > div:first-child {
  margin-bottom: 0.357em;
}

/* =====================================================================================================
Платежи:
===================================================================================================== */

#payments .scroll {
  overflow-y: auto;
}

#payments .pop-up-body > div > div > div {
  padding: 0.75em 1.14em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D5D5D5;
  white-space: nowrap;
}

#payments .total.row .column > div:not(.title) {
  text-align: left;
}

#payments .scroll.row .column > div {
  text-align: right;
}

#payments .pop-up-body .column .title {
  background-color: #EEEEEE;
  border-bottom: none;
  text-align: center;
}

#payments .pop-up-body .column > div:last-child {
  border-bottom: none;
}

#payments .pop-up-body > .scroll.row {
  flex-grow: 1;
}

#payments .pop-up-body > .scroll.row .add {
  width: 100%;
}

#payments .pop-up-body > .scroll.row .add > div {
  padding: 0.75em 0;
}

/* =====================================================================================================
Адаптивная часть:
===================================================================================================== */

.table-adaptive {
  display: block;
  width: 0;
  height: 0;
}

.nomen-wrap,
.payments-wrap .head,
.shipments-wrap .head {
  display: none;
}

.infoblock {
  overflow: visible;
}

.infoblock .head {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  z-index: 10;
}

.control {
  top: 80px;
  margin-top: 0;
  padding-bottom: 1.5em;
}

.control .pills {
  margin-left: 0;
  text-align: left;
}

.control .pill {
  margin-bottom: 1em;
}

.infoblock .info {
  justify-content: space-between;
  border-left: 2px solid transparent;
  border-bottom: 1px solid #D5D5D5;
}

.infoblock .info:last-child {
  border-bottom: none;
}

.infoblock .info div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoblock .info > div:last-child {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 1em;
  text-align: right;
}

.infoblock .notice {
  padding: 0.75em 1.14em;
}
