/* =====================================================================================================
Стили страницы "Один заказ":
===================================================================================================== */

.tabs .tab {
  justify-content: center;
  align-items: center;
  width: 12.5em;
  height: 3.6em;
  margin-right: 0.7em;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  cursor: pointer;
}

.tabs .tab .icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.tab.vputi .icon {
  background-image: url(../img/chronometer.svg);
}

.tab.vputi.disabled .icon {
  background-image: url(../img/chronometer_disabled.svg);
}

.tab.vnali .icon {
  background-image: url(../img/box.svg);
}

.tab.vnali.disabled .icon {
  background-image: url(../img/box_disabled.svg);
}

.tab.sobrn .icon {
  background-image: url(../img/delivery_trolley.svg);
}

.tab.sobrn.disabled .icon {
  background-image: url(../img/delivery_trolley_disabled.svg);
}

.tab.otgrz .icon {
  background-image: url(../img/delivery_truck.svg);
}

.tab.otgrz.disabled .icon {
  background-image: url(../img/delivery_truck_disabled.svg);
}

.tab.nedop .icon {
  background-image: url(../img/stop.svg);
}

.tab.nedop.disabled .icon {
  background-image: url(../img/stop_disabled.svg);
}

.tab.reclm .icon {
  background-image: url(../img/reclm.svg);
}

.tab.reclm.disabled .icon {
  background-image: url(../img/reclm_disabled.svg);
}

.recl.btn {
  min-width: 0;
  padding: 0.2em 1.3em;
  font-size: 0.785em;
  color: #FFFFFF;
  background-color: #A89271;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* =====================================================================================================
Всплывающее окно рекламаций:
===================================================================================================== */

#reclm-container .pop-up {
  width: 58em;
}

#reclm-container .pop-up-title {
  padding: 1.5em 2em;
}

#reclm-container .pop-up-body {
  padding: 0 2em 1.5em 2em;
}

#reclm-container img {
  height: 7.3em;
}

#reclm-container .pop-up-body > .row {
  justify-content: space-between;
}

#reclm-container .order-info {
  margin-bottom: 1em;
}

#reclm-container .registr-form .title {
  margin-left: 0;
  margin-bottom: 1em;
  font-size: 1em;
  color: #666666;
  font-weight: 600;
}

#reclm-container .left-container {
  width: 40%;
  padding-right: 2em;
}

#error {
  visibility: hidden;
}

#reclm-container .right-container {
  width: 60%;
}

#reclm-container textarea {
  margin-bottom: 0;
  padding: 0.5em 1em;
  height: 11em;
}

#reclm-container .btns-wrap {
  justify-content: space-between;
}

#reclm-container .btns-wrap > div {
  margin-right: 1em;
}

#reclm-container .btns-wrap > input {
  width: 100%;
}

#reclm-loader {
  background-color: #fffc;
}
