.activate {
  min-width: 200px;
}

.artboard-title {
  font-size: 22px;
  color: blue;
  margin-bottom: 1em;
}

.arboard-block {
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.inform-temp >:first-child {
  margin-right: 5em;
}

.text-temp > span {
  margin-right: 1em;
}

.table-wrap {
  max-height: 40vh;
}

.icons-temp #up-btn {
  position: static;
  display: block;
}

.icons-temp #up-btn,
.icons-temp > svg,
.icons-temp > div {
  margin-right: 1em;
  font-size: 2em;
  width: 1em;
  height: 1em;
}

.icons-temp > div > div {
  width: 1em;
  height: 1em;
}

.not-found.icon {
  width: 1.46em;
  height: 1em;
}

.check-temp > div {
  margin-right: 1em;
  font-size: 1em;
  width: 1em;
  height: 1em;
}

.check-temp > div > div {
  width: 1em;
  height: 1em;
}

.btns-temp > div {
  margin-right: 1em;
}

.search-temp {
  width: 230px;
}

.drop-down-temp {
  align-items: flex-start;
  justify-content: flex-start;
  height: 500px;
}

.drop-down-temp > div {
 margin-right: 2em;
}