/* Стили таблицы */

#contr th:nth-child(1) {
  width: 6%;
}

#contr th:nth-child(4) {
  width: 15%;
}

#contr th:nth-child(6),
#contr th:nth-child(8) {
  width: 20%;
}

#contr td:nth-child(1) {
  text-align: center;
}

/* Стили адаптивной таблицы*/

.infoblock .row {
  align-items: center;
}

/* Модальное окно */

#contractor .pop-up {
  width: 64em;
}

#contractor form.post > .title {
  font-size: 0.857em;
  margin-bottom: 2em;
}

#contractor form.post > .row {
  flex-wrap: wrap;
}

#contractor form.post > .row > .row {
  align-items: center;
}

#contractor form.post > .row .form-wrap input {
  width: 16.5em;
}

#contractor form.post > .row .form-wrap:last-child input {
  width: 8em;
}

#inn-loader {
  width: 2.4em;
  height: 2.4em;
  margin-right: 2em;
  visibility: hidden;
}
