/* Стили адаптивной таблицы*/

.infoblock .row {
  align-items: center;
}

/* Всплывающее окно добавления контрагента */

#contractor .pop-up {
  width: 64em;
}

#contractor form.post > .title {
  font-size: 0.857em;
  margin-bottom: 2em;
}

#contractor form.post > .row {
  flex-wrap: wrap;
}

#contractor form.post > .row > .row {
  align-items: center;
}

#contractor form.post > .row .form-wrap input {
  width: 16.5em;
}

#contractor form.post > .row .form-wrap:last-child input {
  width: 8em;
}

#inn-loader {
  width: 2.4em;
  height: 2.4em;
  margin-right: 2em;
  visibility: hidden;
}
