@media only screen and (max-width: 768px) {
  #contractor form.post > .title {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 499px) {
  .infoblock span {
    display: block;
  }

  .pop-up-title {
    margin-bottom: 0.5em;
  }
}
