/* Стили основного содержимого: */

.profile-info {
  display: inline-block;
  padding: 1.428em 2.143em;
  background: #F8F8F8;
}

.profile-info .head {
  justify-content: space-between;
  margin-bottom: 1em;
}

.profile-info .edit.icon {
  margin-right: 0;
}

.profile-info .content > div:first-child {
  margin-right: 4.285em;
}

.profile-info .content > div:last-child .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-info .content .title:not(:last-child) {
  margin-bottom: 0.714em;
}

/* Всплывающее окно редактирования профиля: */

#profile-edit .pop-up {
  width: 35em;
}

#profile-form .gender .option:first-child {
  margin-right: 0.5em;
}

#profile-form .gender {
  margin-top: 0.95em;
}