@media only screen and (max-width: 768px) {
  .profile-info {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .profile-info .content {
    display: block;
  }

  .profile-info .content > div:first-child > .title:last-child {
    margin-bottom: 0.714em;
  }
}
