body {
  padding-top: 0;
}

.header {

}

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

/* Стили для мобильного меню */

.mob-menu {
  z-index: 0;
  position: absolute;
  top: -110%;
  right: 0;
  left: 0;
  padding: 88px 30px 30px 30px;
  transition: .9s;
  overflow-y: scroll;
  background: #ffffff;
}

.mob-menu.active {
  top: 0;
  bottom: 0;
}
.profile-wrap {
  margin-bottom: 2.21em;
}

.burger.icon {
  margin-right: 0;
}

.profile.icon {
  width: 36px;
  height: 36px;
}

.list .item {
  margin-bottom: 1.92em;
  cursor: pointer;
}

.list .item .title {
  text-transform: uppercase;
  font-size: 16px;
}

.list .item .item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.list .item:last-child {
  margin-top: 3.85em;
}

.list .item-wrap .title {
  margin-right: 8px;
}

.list .open.dark.icon {
  width: 13px;
  height: 7px;
}

/* .list .open.dark.icon.closed {
  transform: rotate(270deg);
} */

.sublist {
  margin-left: 2em;
}

.subitem {
  padding: 10px 0;
}

.subitem a {
  text-decoration: none;
  color: #666666;
}

.subitem a:after {
  content: '';
  display: block;
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: transparent;
  transition: .1s;
}

.subitem a:hover:after {
  content: '';
  display: block;
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #666666;
}



/*.subitem a:hover {
  text-decoration: underline;
} */




/* Медиастили */
/* Стили на ширину от 0 до 768px включительно: */

@media only screen and (max-width: 990px) {

  .header-top .activate .head,
  .header-top .activate {
    display: none;
  }

  .notifications.icon {
    background-image: url('../img/mob_notification.svg');
  }

  .header-top .burger.icon {
    display: flex;
    margin-left: 1.428em;
  }

  .header {
    /* z-index: 1000; */
  }


}

@media only screen and (max-width: 768px) {

  /* Основные стили: */
  #up-btn {
    right: 2.4rem;
  }

  .header-top .right-side .icon {
    width: 24px;
    height: 24px;
  }

  .header-top .logo img {
    max-height: 15px;
    max-width: 100%;
  }

  .mob-menu {
    padding: 64px 20px 20px 20px;
  }

}
