/* Разрешения без ховера: */
@media (pointer:coarse) {
  #filters {
    overflow-y: scroll;
  }
  .min-card:hover {
    overflow: hidden;
  }
  .min-card:hover .wrap {
    box-shadow: none;
    z-index: 0;
  }
}

/* Стили на ширину больше 1920px: */
@media only screen and (min-width: 1921px) {
  #carts {
    width: calc(3vw + 16em);
  }

  #carts .item {
    padding: 0 3vw 0 2em;
  }

  #search {
    right: calc(3vw + 18em);
  }

  .full-card {
    width: 46vw;
    max-width: 1500px;
  }
}

/* Стили на ширину свыше 1359px: */
@media only screen and (min-width: 1359px) {
  #search:not(:focus-within) .search.icon {
    visibility: visible !important;
  }

  #search:not(:focus-within) .close.icon {
    visibility: hidden !important;
  }
}

/* Стили на ширину от 0 до 1440px включительно: */
@media only screen and (max-width: 1440px) {
  #carts {
    width: calc(3rem + 16em);
  }

  #carts .item {
    padding: 0 3rem 0 2em;
  }

  #search {
    right: calc(3rem + 18em);
  }
}

/* Стили на ширину от 0 до 1360px включительно: */
@media only screen and (max-width: 1360px) {
  .gallery-head .search-info {
    display: none !important;
  }

  .big-card .carousel,
  .big-card .img-wrap {
    width: 18em;
  }

  .big-card .card-content {
    width: calc(100% - 20em);
  }

  [data-catalog="zip"] .big-card .carousel,
  [data-catalog="zip"] .big-card .img-wrap {
    width: 14.5em;
  }

  [data-catalog="zip"] .big-card .card-content {
    width: calc(100% - 13em);
  }
}

/* Стили на ширину от 0 до 1359px включительно: */
@media only screen and (max-width: 1359px) {
  #header-menu .container {
    display: block;
    margin: 0;
    padding: 0;
  }

  #header-menu {
    background-color: #F2F2F2;
  }

  #header-menu .topmenu {
    justify-content: center;
    background-color: #F2F2F2;
  }

  #header-menu .topmenu a {
    color:#34495E;
  }

  #header-menu .submenu {
    width: 100%;
    background-color: #F2F2F2;
    overflow: auto;
  }

  #header-menu .submenu::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  #header-menu .submenu-item {
    padding-right: 1em;
  }

  #header-menu .submenu-item:first-child {
    padding-left: 2.4rem;
  }

  #header-menu .submenu-item:last-child {
    padding-right: 2.4rem;
  }

  #header-menu .submenu a {
    border-radius: 3px;
  }

  #search {
    top: 7.5em;
    right: auto;
    left: 2.4rem;
    width: calc(100vw - 200px) !important;
    max-width: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  #search ::-webkit-input-placeholder {color: #C6C6C6;}
  #search ::-ms-input-placeholder {color: #C6C6C6;}
  #search ::-ms-input-placeholder {color: #C6C6C6;}
  #search ::-moz-placeholder {color: #C6C6C6;}
  #search :-moz-placeholder {color: #C6C6C6;}
  #search ::placeholder {color: #C6C6C6;}

  #search input[type="text"] {
    width: 100% !important;
    max-width: none;
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    outline: none;
    cursor: default;
    z-index: 0;
  }

  #search input[type="text"]:focus {
    border-color: #666666;
  }

  #search .search.icon {
    background-image: url(../img/search_grey.svg);
  }

  #submenu-hide,
  #carts,
  .clear-filter.btn,
  .view .title,
  #gallery-sort  {
    display: none !important;
  }

  #filters-container,
  #filters {
    width: 0 !important;
    height: 0 !important;
  }

  #filters {
    position: static !important;
  }

  #filters .pop-up {
    margin-right: 0;
  }

  #filters .filter:last-child {
    margin-bottom: 1px;
  }

  #filters .wrap {
    padding: 0 2.5em 0.6em;
  }

  #filters .step .group > .items {
    padding: 0.714em 2.5em;
    padding-bottom: 1em;
  }

  .gallery-head,
  #gallery {
    width: 100%;
  }

  .gallery-head {
    padding-bottom: 1em;
  }

  .view.row {
    margin-right: 0;
  }

  .view .blocks.icon {
    width: 34px;
    height: 34px;
    margin-right: 1em;
  }

  .view .list.icon {
    width: 38px;
    height: 34px;
  }
}

/* Стили на ширину от 0 до 960px включительно: */
@media only screen and (max-width: 960px) {
  .min-card {
    width: 16.5em;
    min-width: 16.5em;
    max-width: 26.5em;
    height: 31.2em;
  }

  .min-card .img-wrap {
    height: 15em;
  }

  .big-card .carousel,
  .big-card .img-wrap {
    width: 16em;
    max-width: 40%;
    margin-top: 4em;
  }

  .big-card .card-content {
    position: static;
    width: calc(100% - 18em);
    min-width: 55%;
    margin-top: 3.5em;
  }

  .big-card .card-head {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    padding: 0 1em;
  }

  .big-card .card-sizes {
    display: none !important;
  }

  .big-card .card-price {
    width: 100%;
  }

  .big-card .card-fade {
    display: none;
  }

  [data-catalog="zip"] .big-card {
    height: 19em;
  }

  [data-catalog="zip"] .big-card .carousel,
  [data-catalog="zip"] .big-card .img-wrap {
    width: 16em;
  }

  [data-catalog="zip"] .big-card .card-content {
    width: calc(100% - 18em);
  }

  [data-catalog="zip"] .big-card .card-body {
    position: relative;
    flex-direction: column-reverse;
  }

  [data-catalog="zip"] .big-card .card-price {
    margin-right: 0;
  }

  [data-catalog="zip"] .big-card .card-sizes {
    display: block !important;
    margin-bottom: -0.5em;
  }

  [data-catalog="zip"] .big-card .card-sizes .card-size {
    display: none !important;
  }

  [data-catalog="zip"] .big-card .select-info {
    display: flex;
    margin-bottom: 0;
  }

  [data-catalog="zip"] .big-card .card-info {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  [data-catalog="zip"] .big-card .card-open {
    position: absolute;
    bottom: -1.8em;
    left: 0;
  }

  .full-card-container {
    padding: 0;
  }

  .full-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
  }

  .full-card .pop-up-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .full-card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  [data-catalog="zip"] .pop-up-container:not(.full-card-kit) .full-card .card-sizes {
    display: flex;
    flex-direction: column-reverse;
  }

  [data-catalog="zip"] .pop-up-container:not(.full-card-kit) .full-card .select-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-bottom: 1em;
  }
}

/* Стили на ширину от 0 до 768px включительно: */
@media only screen and (max-width: 768px) {
  #search {
    width: calc(100vw - 100px) !important;
  }

  .view.row {
    display: none;
  }
}

/* Стили на ширину от 0 до 699px включительно: */
@media only screen and (max-width: 699px) {
  .full-card .card-content {
    position: relative;
    flex-direction: column;
  }

  .full-card .card-content > div {
    width: 100%;
  }

  .full-card .carousel,
  .full-card .img-wrap {
    margin-bottom: 1.428em;
  }

  .full-card .carousel {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }

  .full-card .carousel-gallery-wrap {
    max-width: 250px;
    position: static;
  }

  .full-card .carousel-gallery-wrap .left-btn,
  .full-card .carousel-gallery-wrap .right-btn {
    opacity: 1;
  }

  .full-card .carousel-nav {
    display: none;
  }

  body:not([data-catalog="zip"]) .full-card .card-price {
    margin-bottom: 0;
  }

  .full-card .card-options.desk {
    display: none;
  }

  .full-card .card-options.adaptive {
    display: block;
  }

  .full-card .manuf-table th,
  .full-card .manuf-table td {
    padding: 0.75em 0.5em;
  }
}

/* Стили на ширину от 0 до 599px включительно: */
@media only screen and (max-width: 599px) {
  #header-menu .submenu-item:first-child {
    padding-left: 1.6rem;
  }

  #header-menu .submenu-item:last-child {
    padding-right: 1.6rem;
  }

  #search {
    left: 1.6rem;
    width: calc(100vw - 80px) !important;
  }

  #filters .wrap {
    padding: 0 1.428em 0.6em;
  }

  #filters .step .group > .items {
    padding: 0.714em 1.428em;
    padding-bottom: 1em;
  }

  .full-card .pop-up-title {
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1.5em;
  }

  .full-card .card-content {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .full-card .card-body {
    padding: 1.785em 1.5em;
  }

  .full-card .select-info {
    flex-wrap: wrap;
  }

  .full-card .card-info > div .head >.title {
    padding: 0.714em 1.3125em;
  }

  .full-card .card-info > div .icon {
    margin-right: 1.5em;
  }

  .full-card .card-info > div .info {
    padding: 1em 1.75em;
  }

  .full-card .card-details .search.row {
    padding: 0 1.75em 1em 1.75em;
  }

  .full-card .card-details .detail,
  .full-card .card-details .notice {
    padding: 0.75em 1.75em;
  }
}

/* Стили на ширину от 0 до 499px включительно: */
@media only screen and (max-width: 499px) {
  .full-card .manuf-table th.title {
    min-width: 5em;
  }

  .full-card .manuf-table th:nth-child(3) {
    max-width: 5em;
  }

  [data-catalog="zip"] .full-card .card-body {
    padding-right: 0;
    padding-left: 0;
  }
}
