.shops-wrap {
  display: flex;
  width: 100%;
  padding-bottom: 3vw;
}

.shops {
  display: flex;
  flex-direction: column;
  height: 37.5187vw;
  margin-right: 20px;
}

.shops .wrap{
  margin-top: 20px;
}

#map {
  width: 100%;
  height: auto;
}

.shop {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #C6C6C6;
  padding: 0.7142em 1.4285em 0.7142em 2.1428em;
  background: #ffffff;
  transition: .2s;
  cursor: pointer;
}

.shop:hover{
  background: #E7EAED;;
}

/* .shop .col{
  justify-content: space-between;
} */

/* .shop div:first-child {
  display: flex;
  align-items: center;
  margin-right: 4px;
} */

.shop .edit {
  width: 24px;
  height: 24px;
  background: url(../img/newDesign/edit-shop-ic.svg) no-repeat 50%;
  cursor: pointer;
}

.indicate {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.indicate div{
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.added {
  fill: #3F9726;
  background: #3F9726;
}

.denied {
  fill: #D70C17;
  background: #D70C17;
}

.processing {
  fill: #F69C00;
  background: #F69C00;
}

.text-s{
  font-size: 0.85em;
  line-height: 1.4em;
  color: #8596A6;
}

.text-m{
  line-height: 2em;
}

.shop a{
  text-decoration: none;
}

.shop .name{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2em;
}

.shop img{
  width: 105px;
}
