#main-header {
  padding-bottom: 0;
}

.cert-filters {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  padding: 2.8rem 0;
  background-color: #F2F2F2;
  border-bottom: 1px solid #D5D5D5;
  z-index: 1;
}

.cert-filters > div {
  margin-right: 1.428em;
}

.cert-filters > div > .title {
  margin-bottom: 0.428em;
}

form.search {
  width: 18em;
}

#notice {
  display: none;
  margin-top: 1em;
}

#cert-data .item {
  padding: 1.428em;
  margin-bottom: 0.75em;
  border: 1px solid #D5D5D5;
  border-radius: 3px;
  background: #F8F8F8;
}

#cert-data .item:first-child {
  border-top: none;
}

#cert-data .item .view {
  width: 73px;
  min-width: 73px;
  height: 101px;
  margin-right: 1.25em;
  background: url(../img/cert_view.png) no-repeat;
  background-size: contain;
}

#cert-data .item .cont {
  width: calc(100% - 90.5px);
  height: 101px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cert-data .item .cont > div:first-child {
  height: 77px;
  margin-bottom: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#cert-data .item .cont .row {
  align-items: center;
  white-space: nowrap;
}

#cert-data .item .cont .row > a:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

#calendar {
  display: none;
}
