@media only screen and (max-width: 1280px) {
  .control {
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1em;
    border-bottom: none;
  }

  .control .wrap:not(:first-child) {
    display: none;
  }

  .control .wrap:first-child {
    width: 100%;
  }

  .control .wrap > .title {
    display: none;
  }

  #cert {
    padding-top: 1em
  }

  #cert .item:first-child {
    border-top: 1px solid #D5D5D5;
  }
}
