@media only screen and (max-width: 960px) {
  .cert-filters {
    justify-content: space-between;
    align-items: flex-end;
    top: 40px;
  }

  .cert-filters .wrap:not(:first-child),
  #cert-range {
    display: none;
  }

  .cert-filters .wrap:first-child {
    width: 100%;
  }

  form.search {
    width: 100%;
    margin-right: 3em;
  }

  #calendar {
    display: inline-block;
  }
}
