.template {
  visibility: visible;
}

.artboard-title {
  font-size: 22px;
  color: blue;
  margin-bottom: 1em;
}

.arboard-block {
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.pop-up {
  width: 64em;
}

.inform-temp >:first-child {
  margin-right: 5em;
}

.text-white-temp {
  background-color: #34495E;
}

.icons-temp {
  font-size: 40px;
}

.btns-temp .row {
  flex-wrap: wrap;
}

.btns-temp .btn {
  margin-right: 1em;
  margin-bottom: 1em;
}

.tooltips-temp > div > div {
  display: inline-block;
  margin-right: 1.5em;
}

.icons-temp .carousel.for-slider {
  width: 80px;
  height: 60px;
  margin-right: 1em;
  visibility: visible;
}

.icons-temp .carousel.for-slider .left-btn,
.icons-temp .carousel.for-slider .right-btn {
  width: 30px;
  background-size: 30px;
  opacity: 0.5;
}

.icons-temp .carousel.for-card {
  width: 40px;
  height: 40px;
  margin-right: 1em;
  visibility: visible;
}

.icons-temp .carousel.for-card .left-btn,
.icons-temp .carousel.for-card .right-btn {
  width: 10px;
  background-size: 10px;
  opacity: 0.5;
}

.check-temp .row,
.radio-temp .row {
  align-items: center;
  cursor: pointer;
}

.search-temp .example {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 350px;
  background-color: #53606F;
}

form.search.positioned {
  right: 5px;
}

form.search.positioned:focus-within {
  width: 24em;
}

.scroll-temp .exapmle {
  height: 150px;
  overflow: auto;
}

.switch-temp .head {
  padding: 1em;
  background-color: #53606F;
}

/* Стили для всплывающей формы (образец из раздела Контрагенты): */

#form-example form.post > .title {
  font-size: 0.857em;
  margin-bottom: 2em;
}

#form-example form.post > .row > .row {
  align-items: center;
}

#form-example form.post > .row {
  flex-wrap: wrap;
}

#form-example form.post > .row .form-wrap input {
  width: 16.5em;
}

#form-example form.post > .row .form-wrap:last-child input {
  width: 8em;
}

#inn-loader {
  width: 2.4em;
  height: 2.4em;
  margin-right: 2em;
  visibility: hidden;
}

/* Стили таблиц */

.table-temp .h1 {
  margin-top: 2em;
}

.infoblock .row {
  align-items: center;
}

/* Стили для таблицы 1 */

#table1 td:nth-child(2) {
  text-align: center;
}

#table1 td:nth-child(3) {
  text-align: center;
}
