.recl-title {
  justify-content: space-between;
  padding-top: 2.8rem;
  padding-bottom: 3em;
}

/* Статус рекламации: */

.state {
  width: 75%;
  padding-right: 1.428em;
}

.state .item {
  position: relative;
  align-items: center;
  width: 30%;
}

.state .item:first-child {
  width: auto;
}

.state .item .title {
  position: absolute;
  top: -2em;
  right: 0;
  font-size: 0.857em;
  color: #B3B3B3;
  transform: translateX(30%);
}

.state .item:first-child .title {
  left: 0;
  right: auto;
  transform: none;
}

.state .item .line {
  width: 100%;
  height: 2px;
  margin: 0 0.714em;
  background: #D3D6D9;
}

.state .item .icon {
  flex-grow: 0;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin-right: 0;
  border-radius: 50%;
}

/* Индикатор "Зарегистрирована": */

.state .item:nth-child(1) .title {
  color: #34495E;
}

.state .item:nth-child(1) .icon {
  background: url('../img/recl_registr.svg') no-repeat center;
}

/* Индикатор "Обрабатывается": */

.state[data-status="2"] .item:nth-child(2) .title,
.state[data-status="3"] .item:nth-child(2) .title,
.state[data-status="4"] .item:nth-child(2) .title,
.state[data-status="5"] .item:nth-child(2) .title {
  color: #34495E;
}

.state[data-status="2"] .item:nth-child(2) .line,
.state[data-status="3"] .item:nth-child(2) .line,
.state[data-status="4"] .item:nth-child(2) .line,
.state[data-status="5"] .item:nth-child(2) .line {
  background: #B3B3B3;
}

.state .item:nth-child(2) .icon {
  background: url('../img/recl_process_disabled.svg') no-repeat center;
}

.state[data-status="2"] .item:nth-child(2) .icon,
.state[data-status="3"] .item:nth-child(2) .icon,
.state[data-status="4"] .item:nth-child(2) .icon,
.state[data-status="5"] .item:nth-child(2) .icon  {
  background: url('../img/recl_process.svg') no-repeat center;
}

/* Индикатор "Решение": */

.state[data-status="3"] .item:nth-child(3) .title,
.state[data-status="5"] .item:nth-child(3) .title {
  color: #228007;
}

.state[data-status="4"] .item:nth-child(3) .title {
  color: #CE0014;
}

.state[data-status="3"] .item:nth-child(3) .line,
.state[data-status="4"] .item:nth-child(3) .line,
.state[data-status="5"] .item:nth-child(3) .line {
  background: #B3B3B3;
}

.state .item:nth-child(3) .icon {
  background: url('../img/recl_decision_disabled.svg') no-repeat center;
}

.state[data-status="3"] .item:nth-child(3) .icon,
.state[data-status="5"] .item:nth-child(3) .icon {
  background: url('../img/recl_decision_yes.svg') no-repeat center;
}

.state[data-status="4"] .item:nth-child(3) .icon {
  background: url('../img/recl_decision_no.svg') no-repeat center;
}

/* Индикатор "Исполнена": */

.state[data-status="5"] .item:nth-child(4) .title {
  color: #34495E;
}

.state[data-status="5"] .item:nth-child(4) .line {
  background: #B3B3B3;
}

.state .item:nth-child(4) .icon {
  background: url('../img/recl_done_disabled.svg') no-repeat center;
}

.state[data-status="5"] .item:nth-child(4) .icon {
  background: url('../img/recl_done.svg') no-repeat center;
}

/* Лист возврата: */

.return-list {
  width: 25%;
}

.return-list .info {
  margin-right: 2em;
  text-align: right;
}

.return-list .btn {
  display: flex;
  align-items: center;
}

.return-list .btn .icon {
  width: 19px;
  height: 19px;
  margin-left: 1em;
  margin-right: 0;
}

/* Основное описание: */

.recl-main {
  justify-content: space-between;
}

.recl-info {
  width: 75%;
  padding-right: 1.428em;
}

.recl-info > .title {
  margin-bottom: 1.428em;
}

/* Данные рекламации: */

.recl-info .up {
  margin-bottom: 3em;
}

.recl-info .up > div:first-child {
  width: 35%;
}

.recl-info .up > div:last-child {
  width: 65%;
}

.recl-info .up .items {
  margin-right: 1.428em;
}

.recl-info .up .title {
  margin-bottom: 0.357em;
}

/* Карточка товара и файлы: */

.recl-info .down > div:first-child {
  width: 35%;
}

.recl-info .down > div:last-child {
  width: 65%;
}

/* Карточка товара: */

.recl-info .card {
  padding: 1em;
  margin-right: 1.428em;
}

.recl-info .card .img-wrap {
  height: 17em;
  margin-bottom: 1.428em;
  cursor: pointer;
}

.recl-info .card .card-title {
  margin-bottom: 1em;
}

.recl-info .card .articul {
  font-size: 1em;
}

.recl-info .card .tooltips > div {
  margin-bottom: 1em;
}

.recl-info .card .card-price {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.recl-info .card .card-price > div {
  width: auto;
  padding: 0;
}

/* Файлы: */

#files {
  flex-wrap: wrap;
  align-items: center;
}

#files .item {
  /* принудительно 150px, картинка будет непропорциональной или будут большие пробелы*/
  width: 150px;
  height: 150px;
    /* разные по ширине - пропорционально картинке */
  /* min-width: 80px;
  max-width: 100%;
  max-height: 150px; */
  margin-right: 0.714em;
  margin-bottom: 0.714em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#files form {
  position: relative;
  width: 150px;
  height: 150px;
}

input[type="file"] ~ .text {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 190px;
  text-align: center;
  background: #D3D6D9 url(../img/clip.svg) no-repeat center 30px;
}

#files .files {
  flex-wrap: wrap;
}

#files .img-wrap img,
#files .img-wrap video {
  /* принудительно 150px, картинка будет непропорциональной */
  width: 150px;
  height: 150px;
  /* максимум 150px - будут большие пробелы между картинками */
  /* max-width: 150px;
  max-height: 150px; */
  /* разные по ширине - пропорционально картинке */
  /* max-width: 100%;
  max-height: 150px; */
}

/* Чат: */

#chat {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: calc(100vh - 361px);
  min-height: 700px;
}

#chat .header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.428em;
}

#chat .header > .close.icon {
  display: none;
}

#chat .body {
  height: 100%;
  padding-top: 1em;
  background-color: #FFFFFF;
  overflow: hidden;
}

#chat .body .wrap {
  height: 100%;
  padding: 0 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

#chat .body .pill {
  display: block;
  width: 7em;
  margin: 0 auto;
  margin-bottom: 0.714em;
  color: #B3B3B3;
  background-color: #EEEEEE;
}

#chat .body .message {
  display: block;
  margin-bottom: 0.714em;
  padding: 0.714em 1.428em;
  background-color: #EEEEEE;
}

#chat .body .message .title {
  font-size: 0.857em;
}

#chat .body .message .text {
  margin: 0.357em 0;
}

#chat .body .message .time {
  font-size: 0.857em;
  color: #C6C6C6;
}

#chat .footer {
  align-items: flex-end;
  flex-shrink: 0;
  padding: 1em;
  background-color: #FFFFFF;
}

#chat .footer textarea {
  width: 100%;
  height: 40px;
  margin-right: 0.714em;
  padding: 0.5em 0.714em;
  overflow: hidden;
}

/* Ярлык чата */

.chat.icon {
  display: none;
  position: fixed;
  right: 5rem;
  bottom: 90px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url('../img/chat.svg') no-repeat center;
  animation: play 2s ease infinite;
  z-index: 200;
}

@keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 5px rgba(133, 150, 166, 0.4);
  }
  25% {
    box-shadow: 0 0 0 10px rgba(133, 150, 166, 0.4), 0 0 0 4px rgba(133, 150, 166, 0.2);
  }
  25% {
    box-shadow: 0 0 0 8px rgba(133, 150, 166, 0.4), 0 0 0 20px rgba(133, 150, 166, 0.2);
  }
}
