/* Стили для таблицы */

#users th:nth-child(1) {
  width: 6%;
}

#users th:nth-child(2) {
  width: 15%;
}

#users td:nth-child(1),
#users td:nth-child(4),
#users td:nth-child(7),
#users td:nth-child(8),
#users td:nth-child(9),
#users td:nth-child(10) {
  text-align: center;
}

#users td:nth-child(1),
#users td:nth-child(7),
#users td:nth-child(10) {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;
  vertical-align: middle;
}

/* Стили для адаптивной таблицы*/

.infoblock .lock.icon {
  margin-right: 1em;
  margin-top: 4px;
}

.infoblock .edit.icon {
  margin-right: 0;
  margin-left: 1em;
}

.infoblock .wrap,
.infoblock .content {
  width: 100%;
}

.infoblock .content > div {
  min-width: 50%;
}

.infoblock .content > div:last-child {
  padding-left: 1em;
}

/* Модальное окно */

#user .pop-up {
  width: 40em;
}

#user .text.midlight {
  font-size: 0.857em;
}

#user .access .title {
  margin-bottom: 0.35em;
}
