/* Стили для таблицы */
#users-table td{
  cursor: default;
}
#users-table td:nth-child(1) {
  min-width: 6em;
  text-align: center;
}

#users-table td:nth-child(2) {
  min-width: 20em;
}

#users-table td:nth-child(3) {
  min-width: 10em;
}

#users-table td:nth-child(4) {
  min-width: 7em;
  text-align: center;
}

#users-table td:nth-child(5) {
  min-width: 4em;
}

#users-table td:nth-child(6) {
  min-width: 16em;
}

#users-table td:nth-child(7) {
  min-width: 9em;
}

#users-table td:nth-child(8) {
  min-width: 10em;
  text-align: center;
}

#users-table td:nth-child(9) {
  min-width: 10em;
  text-align: center;
}

#users-table td .row{
  align-items: center;
}

#users-table-tablet,
#users-table-mob{
  display: none;
}

.adaptive .info-wrap{
  padding-bottom: 0;
}

.adaptive .info-wrap > .row {
  align-items: flex-start;
  margin-bottom: 0;
}

.adaptive .info-wrap .row .col > div{
  padding-bottom: 0.875em;
}

/* Размер шрифта в заголовках адаптивной таблицы */

#users .section-head .section-title {
    font-size: 1em;
}

.main-title .title-row .title{
  margin-bottom: 0.6em;
}

/* Вынужденное переопределение главных стилей для конктретной страницы */

#users .main-title .row{
  align-items: flex-start;
}

#users .main-title .title-row .title{
  margin-bottom: 0;
}

#users .info-wrap{
  padding: 1.25em;
  margin: 0;
}

#users .info-wrap > * {
  margin-bottom: 1.25em;
}

#users .info-wrap > .row{
  margin-bottom: 0;
}

#users .info-wrap div{
  font-size: 14px;
  color: #34495E;
}

#users .info-wrap span{
  color: #666666;
}

#users-table .section-head .row{
  align-items: center;
}

#users-table .section-head .section-title {
  font-size: 1em;
}

.wrap.row{
  width: 100%;
}

.user-status.row{
  width: 50%;
}

.user-status.row:last-child{
  display: flex;
  justify-content: space-between;
}

.user-status.icon{
  width: 12px;
  height: 15px;
  margin-right: 1em;
  background: url('../img/newDesign/user_denied-ic.svg') no-repeat;
}

.user-status.icon.limited{
  background: url('../img/newDesign/user_limited-ic.svg') no-repeat!important;
}

.user-status.icon.boundless{
  background: url('../img/newDesign/user_boundless-ic.svg') no-repeat!important;
}

.user-status.edit{
  width: 24px;
  height: 24px;
  background: url('../img/newDesign/user_edit-ic.svg') no-repeat  50%;
  cursor: pointer;
}

/* Модальное окно "Добавление пользователя" */

#add-user,
#edit-user{
  width: 40em;
}

#add-user .text-light,
#edit-user .text-light{
  font-size: 12px;
  line-height: 16px;
}

.col .modal-col{
  width: 50%;
}

#add-user .modal-col > .col{
  width: 91%;
}

#edit-user .modal-col > .col {
  width: 91%;
}

#add-user .form-col2 .title,
#edit-user .form-col2 .title{
  margin-bottom: 0.45em;
}

.radio-access{
  display: flex;
  align-items: center;
}

.radio-access:first-child{
  margin-right: 4vw;
}

.radio-text{
  margin-left: 0.8em;
}
