.question.icon {
  display: none;
  margin-right: 0;
}

.edit.icon {
  width: 19px;
  height: 19px;
  margin-right: 0;
}

.trash.icon {
  width: 19px;
  height: 19px;
  margin-right: 0;
}

.table-desktop {
  display: table!important;
}

.table-desktop > tbody > tr > td.address {
  white-space: normal;
}

.table-desktop > thead > tr > th.edit.pills {
  width: 10em;
}

.table-desktop > tbody > tr > td.pills {
  max-width: 7.5em;
  min-width: 5em;
  padding-top: 0.5em;
  padding-bottom: 0;
  line-height: 0;
  vertical-align: top;
}

.table-desktop .text {
  font-size: 0.857em;
}

/* Всплывающее окно добавления/редактирования адреса */

#address .pop-up {
  width: 70em;
}

#address .activate {
  width: 100%;
}

#address-form .row {
  justify-content: space-between;
}

#address-form .top .form-wrap:nth-child(1) {
  width: 30%;
}

#address-form .top .form-wrap:nth-child(2) {
  width: 50%;
}

#address-form .top .form-wrap:nth-child(3) {
  width: 20%;
  min-width: 10.2em;
}

#address-form .bottom .form-wrap:nth-child(1),
#address-form .bottom .form-wrap:nth-child(2),
#address-form .bottom .form-wrap:nth-child(3),
#address-form .bottom .form-wrap:nth-child(4) {
  width: 25%;
}

/* Подсказки для заполнения адреса: */

.kladr-error {
  border-color: #CE0014 !important;
}

.kladr-error + .err {
  display: block;
}

#kladr_autocomplete ul {
	position: absolute;
  display: block;
  min-width: 200px;
  max-height: 420px;
	margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  border: 1px solid #D5D5D5;
  border-top: none;
  border-radius: 0 0 3px 3px;
	overflow-x: hidden;
	overflow-y: auto;
  z-index: 9999;
}

#kladr_autocomplete li {
	display: list-item;
  margin: 0;
  /* padding: 0.4em 0.714em; */
  list-style-type: none;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  cursor: pointer;
}

#kladr_autocomplete li:hover {
  background-color: #E2E2E2;
}

#kladr_autocomplete li.active {
  background-color: #E2E2E2;
}

#kladr_autocomplete a {
  padding: 0.4em 0.714em;
	text-decoration: none;
  color: #666666;
}

#kladr_autocomplete a[data-val="Совпадений не найдено"] {
  cursor: default;
}

#kladr_autocomplete strong {
	font-weight: 700;
}

#kladr_autocomplete .spinner {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	background: url(../img/loader.gif) center center no-repeat;
	z-index: 9999
}
