@media only screen and (max-width: 1359px) {
  .question.icon {
    display: block;
  }

  .table-desktop > thead > tr > th.name,
  .table-desktop > tbody > tr > td.name {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  form.post .top {
    display: block;
  }

  #address #address-form .top > .form-wrap {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 599px) {
  .table-desktop > thead > tr > th.edit.pills {
    width: auto;
  }

  #address #address-form .form-cols > .form-wrap {
    width: 100%;
    padding: 0;
  }
}