.question.icon {
  display: none;
  margin-right: 0;
}

.shops-wrap .left-side {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1.428em;
  background: transparent;
}

.shops-wrap .left-side .btn {
  width: 100%;
  margin-bottom: 20px;
}

#shops {
  height: calc(100vh - 321px);
  overflow: auto;
}

.shop {
  flex-grow: 0;
  flex-shrink: 0;
  width: 30em;
  border-bottom: 1px solid #C6C6C6;
  transition: 0.2s;
  cursor: pointer;
}

.shop:last-child {
  border-bottom: none;
}

.shop .info {
  justify-content: space-between;
  padding: 0.714em 1.428em;
  background: #FFFFFF;
}

.shop .info .wrap {
  margin-right: 1.428em;
}

.shop .info .wrap > :not(:last-child) {
  margin-bottom: 0.357em;
}

.shop .name .title {
  margin-right: 0.714em;
  font-weight: 600;
}

.shop .name > .row {
  align-items: center;
}

.shop .mark.icon {
  margin-right: 0.714em;
}

.shop .edit.icon {
  width: 19px;
  height: 19px;
  margin-right: 0;
}

.shop .text {
  font-size: 0.857em;
}

.shop a {
  text-decoration: none;
}

.shop a.phone {
  display: block;
  color: #666666;
}

.shop .img-wrap {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  width: 115px;
  height: 90px;
}

.shop .more {
  padding: 0.714em 1.428em;
  padding-top: 0;
  background: #FFFFFF;
}

.shop .more > div:first-child {
  font-size: 0.857em;
  margin-bottom: 0.714em;
}

.shop .work-time {
  line-height: 1.7;
}

.shop .time > div:first-child {
  width: 7em;
  margin-right: 0.714em;
}

.shop:hover .info,
.shop:hover .more {
  background: #E7EAED;
}

#map {
  width: calc(100% - 30em);
  height: auto;
}

/* Всплывающее окно добавления/редактирования адреса */

#address .pop-up {
  width: 30em;
}

#address .activate {
  width: 100%;
}

#address .main .btns-wrap {
  flex-direction: column;
  justify-content: flex-end;
}

#address .main .btns-wrap .btn {
  display: block;
  width: 100%;
}

#address .main .btns-wrap .btn:first-child {
  margin-right: 0;
  margin-bottom: 0.714em;
}

#address .work-time {
  display: none;
}

#address .work-time > .row {
  align-items: center;
}

#address .work-time > .row .form-wrap {
  margin-left: 1em;
}
