@media (pointer:coarse) {
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }

  .tooltip {
    display: block;
  }
}

@media only screen and (max-width: 960px) {
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }

  .tooltip {
    display: block;
  }

  .question.icon {
    display: block;
  }

  .shops-wrap {
    margin: 0 -2.4rem;
  }

  .shops-wrap .left-side {
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: auto;
    margin-right: 0;
    z-index: 10;
  }

  .shops-wrap .left-side .btn {
    display: none;
  }

  #shops {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 2.143em 0;
  }

  #shops:not(.pop-up-container)::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .shop {
    margin-right: 1.428em;
    border-bottom: none;
  }

  .shop:first-child {
    padding-left: 2.4rem;
  }

  .shop:last-child {
    padding-right: 2.4rem;
  }

  .shop:hover .info,
  .shop:hover .more {
    background: #FFFFFF;
  }

  .shop .info {
    box-shadow: 0px 4px 15px rgba(52, 73, 94, 0.1), 0px 2px 10px rgba(52, 73, 94, 0.06), 0px 0px 5px rgba(52, 73, 94, 0.05);
  }

  .shop .more {
    display: none;
  }

  #map {
    width: 100%;
  }

  #map > ymaps {
    height: calc(100vh - 199px) !important;
  }
}

@media only screen and (max-width: 499px) {
  #map > ymaps {
    height: calc(100vh - 175px) !important;
  }
}
