a{
  font-size: 1em;
  color: #117FED;
}

.new-container {
  margin: 0 3.125em!important;
}

.desktop-wrap {
	display: flex;
	width: 100%;
}

.center-col{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn{
  padding: 0.825em  1.875em;
  border: 0;
  border-radius: 3px;
  font-size: 0.875em;
  font-weight: 600;
  color: #ffffff;
}

.action-btn{
  background: #34495E;
}

.fullWidth{
  width: 100%;
  display: flex;
  justify-content: center;
}

.open.icon{
  display: none;
}

/* Контейнер с баннерами */
aside{
	display: flex;
	flex: 1;
}

.banners{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.banners > * {
	margin-bottom: 20px;
}

.banner{
	width: 100%;
}

.banner img{
	width: 100%;
}

/* Основной контент-контейнер */
main{
	flex: 3;
	margin-right: 20px;
}

section{
	margin-bottom: 20px;
}

.section-title{
	font-size: 1.5em;
	line-height: 1.4em;
	text-transform: uppercase;
	color: #34495E;
}

/* Взаиморасчеты */

.settle{
	width: 100%;
	padding: 0 0.625em  0.9375em  1.25em;
	background: #53606F;
}

.settle-title{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.75em;
	line-height: 2.15em;
	color: #ffffff;
}

.settle-blocks{
	display: flex;
	width: 100%;
}

.settle-block{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% / 4);
	padding: 0 0.9375em;
	border-right: 1px solid #ffffff;
	color: #ffffff;
}

.settle-block:first-child{
	padding-left: 0;
}

.settle-block:last-child{
	border: none;
}

.settle-block .attention{
	position: absolute;
  right: 10px;
  bottom: 30px;
	display: block;
	width: 136px;
	height: 1.8875em;
	padding: 0 10px;
	border-radius: 37px;
	font-size: 1em;
	line-height: 1.8875em;
	text-align: right;
	color: #ffffff;
	background: #D70C17 url('../img/desktop/set-attention.svg') no-repeat 12px center;
}

.lines{
  display: flex;
  flex-direction: column;
}

.line{
	display: flex;
	align-items: center;
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

.line:last-child,
.line:nth-child(4){
	margin-bottom: 0;
}

.line-status{
  display: flex;
  flex-direction: column;
  height: 3.3875em;
  justify-content: space-between;
}

.line4{
  align-items: flex-start;
  justify-content: flex-start;
  height: 3.3875em;
}

.line-ic{
  min-width: 30px;
	width: 30px;
	height: 30px;
	margin-right: 0.8em;
	background: url('../img/desktop/money-ic.svg') no-repeat center center;
	background-size: contain;
}

.line-title{
	font-size: 1.35em;
	font-weight: 600;
}

.line-money{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.money{
	font-size: 2.25em;
	font-weight: bold;
	line-height: 0.8em;
	color: #ffffff;
}


/* Основной график и таблица */

.info-graphic{
	display: block;
	width: 100%;
	padding: 1.25em 1.25em  0.9375em  1.25em;
	background: #ffffff;
}

.section-head{
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.graphic-btns{
	display: flex;
	align-items: center;
}

.graphic-btns1{
  display: none;
}

.graphics{
	display: flex;
	width: 100%;
	margin-top: 20px;
}

.preorder-toggle{
	display: flex;
	align-items: center;
}

.toggle-name{
  padding-right: 8px;
	padding-bottom: 1px;
	font-size: 0.875em;
	color: #666666;
}

.new-toggle{
	position: relative;
	width: 27px;
	height: 10px;
	border: 1px solid #8596A6;
	border-radius: 43px;
	background: #F2F2F2;
  transition: .3s ease;
	cursor: pointer;
}

.new-toggle.on{
  border: 1px solid #8596A6;
  background: #D3D6D9!important;
}

.new-toggle-btn{
	position: absolute;
	left: -1px;
	top: -3px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #53606F;
  transition: .3s ease;
}

.new-toggle-btn.on{
  left: 12px!important;
  border: 1px solid #34495E;
}

.open.white.icon{
  background-image: url(../img/desktop/toggle-btn-ic.svg);
  background-repeat: no-repeat;
  transform-origin: center;
  transform: rotate(180deg);
}

.close .open.white.icon {
  background-image: url(../img/desktop/toggle-btn-ic.svg);
  background-repeat: no-repeat;
  transform-origin: center;
  transform: rotate(0deg);
}

.open.white.icon {
  background-size: contain;
  width: 1.1875em;
  height: 0.625em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.table-btns{
	display: flex;
	justify-content: space-between;
	margin-left: 3.225em;
}

.table-btns > * {
	margin-right: 1.6em;
}

.table-btn:last-child{
	margin-right: 0;
}

.table-btn{
	width: 110px;
	height: 28px;
	padding-left: 10px;
	line-height: 28px;
	border-radius: 37px;
	text-align: left;
	font-size: 0.875em;
	color: #ffffff;
	background: #E3E3E3 url('../img/desktop/Close.svg') no-repeat 90px center;
}

.status1{
	background: #2C6DA8 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}

.status2{
	background: #F69C00 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}

.status3{
	background: #6C4D77 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}

.status4{
	background: #3F9726 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}


.col1,
.col2{
	display: flex;
	flex-direction: column;
}

.col1{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-width: calc(1360px / 3);
}

.col2{
	flex: 2;
}

.border-title{
	border-top: 1px solid #cccccc;
}


/* Таблица "Заказы в работе" на Сашином шаблоне */
#desktop-table{
	overflow: hidden;
	overflow-y: auto;
}

/* #desktop-table td:nth-child(1) {
  min-width: 10em;
}

#desktop-table td:nth-child(2) {
  min-width: 10em;
}

#desktop-table td:nth-child(3) {
  min-width: 7em;
}

#desktop-table td:nth-child(4) {
  min-width: 7em;
}

#desktop-table td:nth-child(5) {
  min-width: 7em;
}

#desktop-table td:nth-child(6) {
  min-width: 7em;
}*/

.data-sticker{
	padding: 2px 10px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 30px;
	font-size: 0.875em;
	background: #cccccc;
}

.sticker1{
	border: 1px solid #2C6DA8;
	color: #2C6DA8;
	background: #EAF0F6;
}

.sticker2{
	border: 1px solid #F69C00;
	color: #F69C00;
	background: #FEF5E5;
}
.sticker3{
	border: 1px solid #6C4D77;
	color: #6C4D77;
	background: #F0EDF1;
}
.sticker4{
	border: 1px solid #3F9726;
	color: #3F9726;
	background: #ECF5E9;
}

#chart1{
	position: relative;
	height: 32.3437vw;
}

/* Вторая секция с графикми */
.info-graphic-1{
	display: block; /**/
	margin-top: 20px;
}

.orders-info{
	z-index: 0;
	position: absolute;
	top: 39%;
	left: 28%;
	width: 200px;
	height: 100px;
	text-align: center;
	font-size: 1.25em;
	line-height: 1.55em;
}

.info-graphic-1 .col1{
	margin-right: 20px;
	background: #ffffff;
}

.info-graphic-1 .col2{
	background: #ffffff;
}

.col-wrapper{
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #ffffff;
}

.col-head{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.brands-btns{
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.brands-btns .preorder-toggle{
  display: none;
}

.brand-btn{
	width: 60px;
	height: 26px;
	padding-left: 10px;
	line-height: 28px;
	border-radius: 37px;
	text-align: left;
	font-size: 0.875em;
	color: #ffffff;
	background: url('../img/desktop/Close.svg') no-repeat right center;
}

.brand-btn:last-child{
	margin-right: 0;
}

.status-1{
	background: #34495E url('../img/desktop/Close.svg') no-repeat 44px center!important;
}

.status-2{
	background: #F69C00 url('../img/desktop/Close.svg') no-repeat 44px center!important;
}

.status-3{
	background: #6C4D77 url('../img/desktop/Close.svg') no-repeat 44px center!important;
}

.status-4{
	background: #3F9726 url('../img/desktop/Close.svg') no-repeat 44px center!important;
}

/* График для рекламаций в работе */

.section-body{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.25em;
  background: #ffffff;
}

.gauge{
	width: 100%;
	max-width: 355px;
	margin: 0 auto;
}

.g-body{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
	background: #F7AC93;
	overflow: hidden;
}

.g-fill{
	position: absolute;
	top: 100%;
	left: 0;
	width: inherit;
	height: 100%;
	border-top: 1px solid #ffffff;
	background: #cccccc;
	transform-origin: center top;
	transform: rotate(0.0turn);
	transition: transform 2s ease-out;
}

.g-cover{
	position: absolute;
	top: 25%;
	left: 50%;
	width: 75%;
	height: 150%;
	border-radius: 50%;
	transform: translateX(-50%);
	background: #ffffff;
}

.speed-point{
	z-index: 10;
	position: absolute;
	width: 30px;
	height: 30px;
	border: 6px solid #34495E;
	border-radius: 50%;
	background: #ffffff;
	transition: .8s linear;
	transform: rotate(-0.25turn);
  outline: none;
}

.speed-pointer{
	z-index: -1;
	position: absolute;
	top: -100px;
	left: -1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 100px 10px;
	border-color: transparent transparent #34495E transparent;
  outline: none;
}

.recl-result{
	margin: 0 auto;
	width: 78%;
	font-size: 1.325em;
	line-height: 1.35em;
	text-align: center;
	letter-spacing: -1px;
	color: #34495E;
}

.info-graphic-1 .fullWidth{
	margin-bottom: 10px;
}

.info-graphic-2 .col1 .section-title{
  width: 50%;
}

.info-graphic-2 .col1  .activate .head .title{
  font-size: 0.875em;
  color: #C6C6C6;
}

.info-graphic-2 .col1 .activate .head{
  padding: 0.125em 0.325em;
}

.info-graphic-2 .col1 .activate .drop-down .item{
  padding: 0.125em 0.325em;
}

.info-graphic-2 .section-body .preorder-toggle{
  display: none;
}

#chart2{
	margin-top: 20px;
}

#chart3{
	margin-top: 3.225em;
	margin-bottom: 20px;
}

.txt{
	padding-top: 1.85em;
	padding-left: 0.625em;
	font-size: 0.875em;
	color: #666666;
}

.info-graphic-2{
	display: block; /**/
}

.info-graphic-2 .graphics{
	margin-top: 0;
}

.info-graphic-2 .col2{
	margin-right: 20px;
}

.chart-wrapper{
	display: flex;
}


legend select{
	width: 11.0125em;
	height: 2.0125em;
	font-size: 0.785em;
	border: 1px solid #D5D5D5;
	border-radius: 3px;
	color: #C6C6C6;
}

.info-graphic-2 .list{
	margin-top: 1.25em;
	margin-left: 2.5em;
}

.info-graphic-2 .item{
	display: flex;
	align-items: center;
}

.info-graphic-2 .item div:first-child{
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 3px;
	margin-right: 10px;
}

.info-graphic-2 .item:first-child div:first-child{
	background: #96B6D3;
}

.info-graphic-2 .item:nth-child(2) div:first-child{
	background: #CCC8CA;
}

.info-graphic-2 .item:nth-child(3) div:first-child{
	background: #F7AC93;
}

.info-graphic-2 .item:nth-child(4) div:first-child{
	background: #B5A6BB;
}

.info-graphic-2 .item:nth-child(5) div:first-child{
	background: #9FCB93;
}

.info-graphic-2 .item:last-child div:first-child{
	background: #FBCD80;
}

.info-graphic-2 .item div:last-child{
	font-size: 0.875em;
	line-height: 2.6em;
	color: #666666;
}

/* Карусель с баннерами */

#banners .left-btn {
  left: 0;
  background: url(../img/desktop/leftArrowBanner.svg) no-repeat center!important;
}

#banners .right-btn {
  right: 0;
  background: url(../img/desktop/rightArrowBanner.svg) no-repeat center!important;
}

#banners .carousel-nav { /* навигация не является обязательной, это пример стилей для навигации точками */
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5.5em;
  bottom: 1em;
  /* width: 100%; */
}

#banners .carousel-nav > div:not(.carousel-item) {
  width: 0.725em;
  height: 0.725em;
  background-color: #FFFFFF;
  border: 1px solid #53606F;
  border-radius: 50%;
  margin-right: 1em;
  opacity: 0.6;
}

#banners .carousel-nav > div.active {
  opacity: 1;
}
