.desktop-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.col1 {
	display: flex;
	align-items: flex-start;
  width: 100%;
}

.align-end {
	display: flex;
	align-items: flex-end!important;
}

.col1:first-child {
  margin-bottom: 1.71vw;
}

.desktop-wrap .col1 {
  display: flex;
}

.row1 {
  width: 14.5%;
}

.row2 {
  width: 86%;
}

.switch {
	display: flex;
	width: 100%;
	height: 44px;
}

.switch .toggle {
	width: 50%;
	border-radius: 3px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	font-size: 1em;
	text-align: center;
	color: #979797;
	background: #D4D7DB;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: .4s;
	transition-duration: .2;
}

.toggle-active {
	color: #FFFFFF!important;
	background: #34495E!important;
}

.pane {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 10.5vw;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 1vw 1vw 1vw 1vw;
	color: #ffffff;
}

.pane:last-child {
	margin-bottom: 0;
}

.status_1 {
  background: #DFA12A;
}

.status_2 {
	background: #E7575F;
}

.status_3 {
	background: #8596A6;
}

.status_4 {
	background: #2A659D;
}

.status_5 {
	background: #6C4D77;
}

.pane-head {
	display: flex;
  align-items: center;
  margin-bottom: 1.2vw;
}

.pane-wrap{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.pane-wrap > div{
  display: flex;
  align-items: center;
}

.deposit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deposit-name{
  margin-bottom: 7px;
  font-size: 0.8em;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.deposit-price{
  padding: 3px 12px;
  border-radius: 19px;
  font-size: 1em;
  letter-spacing: 0.01em;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.5);
}

.pane-name {
	font-size: 1.25em;
	font-weight: 600;
	white-space: nowrap;
	margin-left: 0.6vw;
	letter-spacing: 0.01em;
	color: #ffffff;
}

.pane-body {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.quantity {
	font-size: 1.4em;
	line-height: 1.8em;
	letter-spacing: 0.01em;
}

.precise{
  font-size: 1.3em;
}

.money {
	font-size: 2.125em;
	font-weight: 600;
}

.banners .container{
  display: flex;
  margin-top: 10px;
}

.banners a {
  margin-right: 10px;
}

.banners a:last-child {
	margin-right: 0;
}

.banners img {
  width: 100%;
}

.data {
	display: flex;
	margin-left: 10px;
	border-radius: 3px;
	background:#ffffff;
}

.desktop-info {
	width: 34%;
	height: 31.6vw;
}

.desktop-info img {
	width: 100%;
}

.desktop-data {
	width: 1060px;
	height: 31.6vw;
	margin-top: 1vw;
	padding-left: 1vw;
	border-left: 1px solid rgba(133, 150, 166, 0.2);
	background: #ffffff;
}

.desktop-num {
	margin: 0 30px;
	padding: 1px 10px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 0,875em;
	font-weight: bold;
}

.moreSpace {
	margin: 0 58px!important;
}

.table-menu {
	display: flex;
	padding-bottom: 10px;
}

.reset {
	padding: 4px 13px;
	border-radius: 3px;
	border: none;
	font-size: 0.9em;
	line-height: 1.2em;
	font-weight: 600;
	color: #34495E;
  background: #D4D7DB;
  cursor: pointer;
}

.select-orders {
	display: flex;
	align-items: center;
	margin-left: 1vw;
}

.custom-select {
	margin-right: 8px;
	width: 1em;
	height: 1em;
	border-radius: 2px;
	background: #EBEBEB;
}

.select-name {
	font-size: 0.9em;
	line-height: 1.2em;
	font-weight: 600;
	color: #34495E;
}

.desktop-table {
	width: 100%;
  height: 28.9vw;
  overflow: hidden;
  display: block;
  overflow-y: auto;
}

.desktop-table::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.desktop-table::-webkit-scrollbar-thumb {
	background-color: rgb(52,73,94,0.5);
	border: 3px solid #ffffff;
	border-radius: 10px;
}

.desktop-table::-webkit-scrollbar-track {
    background:  #ffffff;
}

.desktop-table tr td.row + .desktop-num {
	padding-left: 5vw!important;
}

#productsTab {
	display: none;
}

/* стили для слайдера */

.range-title {
	padding-left: 1vw;
	color: #34495E;
}

.range-wrap {
	width: 100%;
	height: 40px;
	padding-left: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.range {
	position: relative;
	width: 100%;
	height: 6px;
	border-radius: 4px;
	background: #8596A6;
}

.selected-range {
	position: absolute;
	height: 6px;
	width: 10px;
	border: none;
	background: #34495E;
}

.range-btn {
	z-index: 10;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -6px;
	border-radius: 50%;
	border: 3px solid #34495E;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
	background: #ffffff;
	cursor: move;
}

.range-point {
	z-index: 1;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -6px;
	border-radius: 50%;
	border: 3px solid #fafafa;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
	background: #ffffff;
	cursor: pointer;
}

.range-date {
	position: absolute;
	font-size: 0.9em;
	color: #34495E;
}

#today {
	top:20px;
	left:0;
}

#rangeDate1 {
	top:20px;
	left:300px;
}

#rangeDate2 {
	top:20px;
	left:695px;
}

#rangeDate3 {
	top:20px;
	left:845px;
}

#donutchart{
  margin-left: 5vw;
}