.desktop-wrap {
	display: flex;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

/* Контейнер с баннерами */
aside{
	display: flex;
	flex: 1;
}

.banners{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.banners > * {
	margin-bottom: 20px;
}

.banner{
	width: 100%;
}

.banner img{
	width: 100%;
}

/* Основной контент-контейнер */
main{
	flex: 3;
	margin-right: 20px;
}

section{
	margin-bottom: 20px;
}

.section-title{
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
	color: #34495E;
}

/* Взаиморасчеты */

.settle{
	width: 100%;
	padding: 0 10px 15px 20px;
	background: #34495E;
}

.settle-title{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 2.15em;
	color: #ffffff;
}

.settle-blocks{
	display: flex;
	width: 100%;
}

.settle-block{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% / 4);
	padding: 0 15px;
	border-right: 1px solid #ffffff;
	color: #ffffff;
}

.settle-block:first-child{
	padding-left: 0;
}

.settle-block:last-child{
	border: none;
}

.settle-block .attention{
	position: absolute;
	right: 10px;
	bottom: 30px;
	display: block;
	width: 136px;
	height: 27px;
	padding: 0 10px;
	border-radius: 37px;
	font-size: 0.85em;
	line-height: 27px;
	text-align: right;
	color: #ffffff;
	background: #D70C17 url('../img/desktop/set-attention.svg') no-repeat 12px center;
}

.set{
	display: flex;
	align-items: center;
	font-size: 0.75em;
	margin-bottom: 8px;
}

.set:last-child,
.set:nth-child(4){
	margin-bottom: 0;
}

.set-ic{
	width: 30px;
	height: 30px;
	margin-right: 8px;
	background: url('../img/desktop/money-ic.svg') no-repeat center center;
	background-size: contain;
}

.set-title{
	font-size: 1.35em;
	font-weight: 600;
}

.set-money{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.money{
	font-size: 2.25em;
	font-weight: bold;
	line-height: 0.8em;
	color: #ffffff;
}


/* Основной график и таблица */

.info-graphic{
	width: 100%;
	padding: 20px 20px 30px 20px;
	background: #ffffff;
}

.section-head{
	display: flex;
	justify-content: space-between;
}

.graphic-btns{
	display: flex;
	align-items: center;
}

.graphics{
	display: flex;
	margin-top: 20px;
}

.preorder-toggle{
	display: flex;
	align-items: center;
}

.toggle-name{
	padding-bottom: 1px;
	margin-right: 3px;
	font-size: 0.875em;
	color: #666666;
}

.toggle{
	position: relative;
	width: 24px;
	height: 15px;
	border: 1px solid #E3E3E3;
	border-radius: 43px;
	background: #CCCCCC;
	cursor: pointer;
}

.toggle-btn{
	position: absolute;
	left: 1px;
	top: 1px;
	width: 11px;
	height: 11px;
	border: 1px solid #666666;
	border-radius: 50%;
	background: #E3E3E3;
}

.table-btns{
	display: flex;
	justify-content: space-between;
	margin-left: 50px;
}

.table-btns > * {
	margin-right: 20px;
}

.table-btns:last-child{
	margin-right: 0;
}

.table-btn{
	width: 110px;
	height: 28px;
	padding-left: 10px;
	line-height: 28px;
	border-radius: 37px;
	text-align: left;
	font-size: 0.875em;
	color: #ffffff;
	background: #E3E3E3 url('../img/desktop/Close.svg') no-repeat 90px center;
}

.status1{
	background: #2C6DA8 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}

.status2{
	background: #F69C00 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}

.status3{
	background: #6C4D77 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}

.status4{
	background: #3F9726 url('../img/desktop/Close.svg') no-repeat 90px center!important;
}

.col1,
.col2{
	display: flex;
	flex-direction: column;
}

.col1{
	flex: 1;
	border-top: 1px solid #cccccc;
}

.col2{
	flex: 2;
	border-top: 1px solid #cccccc;
}
