@media (min-width: 1368px) {
  section.banners-carousel{
    display: none!important;
  }
}


@media (max-width: 1367px) {

  .new-container {
    margin: 0 1.185em!important;
  }

  main{
    margin-right: 0;
  }
  aside{
    display: none;
  }

  section.banners-carousel{
    display: block!important;
  }

  .carousel-gallery .carousel-item{
    max-width: 420px;
    width: 34%!important;
    margin-right: 20px;
  }

}


@media (max-width: 1299px) {

  section{
    margin-bottom: 10px;
  }

  .settle{
    padding: 0;
  }

  .settle-title{
    padding: 0.65em 1em;
    line-height: 1em;
  }

  .settle-blocks{
  	display: block;
  	width: 100%;
    padding: 0 1.875em 0.625em 1.875em;
    background: #8596A6;
  }

  .settle-block{
    display: block;
  	width: 100%;
  	border-right: 0;
    padding: 0;
    padding-top: 1.25em;
    padding-bottom: 0.4375em;
    border-bottom: 1px solid #ffffff;
  }

  .settle-block .attention{
    right: 200px;
    bottom: 10px;
    height: 19px;
    width: 110px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 0.75em;
    background: #D70C17 url(../img/desktop/set-attention.svg) no-repeat 8px center;
  }

  .line{
    margin-bottom: 0;
    font-size: 1em;
  }

  .line-title{
    font-size: 1.7em;
  }

  .line-money{
    justify-content: flex-end;
  }

  .line span{
    display: none;
  }

  .lines .line:first-child{
    order: 1;
  }

  .lines .line:nth-child(2){
    order: 3;
    margin: 0.625em 0;
  }

  .lines .line:nth-child(3){
    order: 3;
    justify-content: flex-end;
    margin-top: -1.75em;
  }
  .lines .line:last-child{
    order: 2;
  }
  .line4{
    justify-content: flex-end;
    height: 0.625em;
  }

  .line-status{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 10px;
  }

  .info-graphic{
    padding: 0 0 30px 0;
  }

  .info-graphic .col1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .graphic-btns{
    display: none;
  }

  .graphic-btns1{
    display: flex;
    flex-direction: column;
  }

  .graphic-btns1 .table-btns{
    order: 1;
    flex-direction: column;
  }

  .graphic-btns1 .table-btns > * {
    margin-bottom: 1.25em;
  }

  .preorder-toggle{
    order: 2;
    margin-top: 0.5em;
  }

  .section-head{
    padding: 1.25em 1.25em 0.9375em 1.25em;
    background: #53606F;
  }

  .section-title{
    color: red;
  }

  .col2{
    flex: 1;
  }

  .graphics{
    flex-direction: column;
    margin-top: 0;
  }

  .border-title{
    border: 0;
  }


  .info-graphic-1{
    margin-top: 10px;
  }

  .info-graphic-1 .graphics > *{
    margin-bottom: 10px;
  }

  .info-graphic-1 .col1,
  .info-graphic-2 .col2{
    margin-right: 0;
  }

  .col-wrapper{
    padding: 0;
  }

  .fullWidth{
    display: none;
  }

  .orders-info{
  	z-index: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
    transform: translate(-50%, -50%);
  }

}


@media(max-width: 685px) {

  .settle-blocks{
    padding: 0 1.875em;
  }

  .settle-block{
    padding-bottom: 1.25em;
  }

  .lines .line:nth-child(2) {
    display: none;
  }

  .lines .line:nth-child(3) {
    order: 3;
    justify-content: flex-end;
    margin-top: 1.25em;
  }

  .settle-block .attention{
    width: 120px;
    left: 0;
    bottom: 20px;
    padding: 0 6px;
  }

  .money{
    font-size: 2em;
  }

}


@media (max-width: 499px) {

  .line-title{
    font-size: 1.2em;
  }

  .money{
    font-size: 1.6em;
  }

  .settle-block .attention{
    width: 100px;
    padding: 0 5px;
  }

  .settle-title{
    font-size: 1.45em;
  }

  .header-top .logo{
    margin-right: 0;
  }

}
